In [1]:
import pandas as pd
import tkinter
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
import numpy as np

In [2]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD, RMSprop
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from tensorflow import keras

In [4]:
import random
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.losses import MeanSquaredError
from numpy import asarray
from sklearn.preprocessing import PolynomialFeatures
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
import math

## def Subir Data

In [5]:
def subirData():
    global data, variables
    direccion=input("coloque direccion de la data")+"\\"+input("cual es el nombre del archivo?")
    print("")
    if "csv" in direccion:
        data=pd.read_csv(direccion)
    elif "xlsx"in direccion:
        data=pd.read_excel(direccion)
    print("la base de datos tiene", data.shape[1], "columnas y", data.shape[0], "filas")
    data.dropna(inplace= True)
    data=data.reset_index(drop=True)
    print("cantidad de filas completas es", data.shape[0])
    print("")
    variables=[]
    for i in data:
        variables.append(i)

In [6]:
def matarOutlayers():
    global data
    filasCompletas=data.shape[0]
    for i in variables:
        if data[i].dtypes != ("object"):
            Q1=data[i].quantile(0.25)
            Q3=data[i].quantile(0.75)
            IQR=Q3-Q1
            Lower_Whisker = Q1 - 1.5 * IQR
            Upper_Whisker = Q3 + 1.5 * IQR
            data=data[data[i] < Upper_Whisker]
            data=data[data[i] > Lower_Whisker]
    print("hecho, outlayers removidos")
    print("hay un total de", filasCompletas-data.shape[0],"outliers removidos")
    print("las filas Ãºtiles son",data.shape[0])
    print("")

In [7]:
def limpiarData():
    global data
    if input("Quitar Outlayers? ") == "si":
        matarOutlayers()
    else:
        print("okey")
        print("")
    display(data.sample(7))

## def Variables

In [8]:
def elegirVariables():
    global ind, dep, data, variables, j, outputData, inputData
    print("puede definir variables independientes y dependientes entre las siguientes:")
    print(variables)
    print("")
    frame = tkinter.Frame()
    j=0
    ind=[]
    dep=[]
    def derecha():
        global j
        j=j+1
        v.set(variables[j])
    def izquierda():
        global j
        j=j-1
        v.set(variables[j])
    def independiente():
        global ind
        ind.append(variables[j])
        print(variables[j], "es una variable independiente")
    def dependiente():
        global dep
        dep.append(variables[j])
        print(variables[j], "es una variable dependiente")
    print("")
    botonizquierda=tkinter.Button(frame, text="<<<", command=izquierda)
    botonizquierda.pack(side=tkinter.LEFT)
    v = tkinter.StringVar()
    v.set(variables[j])
    text = tkinter.Entry(frame, textvariable=v )
    text.pack(side=tkinter.LEFT);
    botonderecha=tkinter.Button(frame, text=">>>", command=derecha)
    botonderecha.pack(side=tkinter.LEFT)
    botonindependiente=tkinter.Button(frame, text="Independiente", command=independiente)
    botonindependiente.pack(side=tkinter.LEFT)
    botondependiente=tkinter.Button(frame, text="Dependiente", command=dependiente)
    botondependiente.pack(side=tkinter.LEFT)
    botoncerrar=tkinter.Button(frame, text="Cerrar", command=frame.destroy).pack()
    frame.pack()
    frame.mainloop()
    finalVariables=ind+dep
    data=data[finalVariables]
    display(data.sample(7))
    print("")
    outputData=data[dep]
    inputData=data[ind]

## def Preprocessing

In [9]:
def dummies():
    global inputData, outputData, ind, dep
    for i in inputData:
        if inputData[i].dtype == "object":
            print("creamos dummy variables para la variable", i)
            add=pd.get_dummies(inputData[i])
            for j in add:
                inputData[str(str(i)+" - "+str(j))]=add[j]
                ind.append(str(str(i)+" - "+str(j)))
            ind.remove(i)
            inputData=inputData.drop(columns=i)
    for i in outputData:
        if outputData[i].dtype == "object":
            print("creamos dummy variables para la variable", i)
            add=pd.get_dummies(outputData[i])
            for j in add:
                outputData[str(str(i)+" - "+str(j))]=add[j]
                dep.append(str(str(i)+" - "+str(j)))
            dep.remove(i)
            outputData=outputData.drop(columns=i)
    print("Input Data")
    display(inputData.sample(7))
    print("")
    print("Output Data")
    display(outputData.sample(7))
    print("")

In [10]:
def razaModelo():
    global outputData
    unOutcome=False
    menosQueCero=False
    masQueUno=False
    intermedio=False
    algunoMaroyAUno=False
    masDeUnLabel=False
    if outputData.shape[1] == 1:
        unOutcome=True
        for i in outputData[dep[0]]:
            if i < 0:
                menosQueCero=True
            elif i > 1:
                masQueUno=True
            elif not(i==1 or i==0):
                intermedio=True
    else:
        for i in dep:
            if sum(outputData[dep[0]]>1*1) > 0:
                algunoMaroyAUno=True
            else:
                for i in range(outputData.shape[0]):
                    if sum(np.array(outputData.loc[[i]])[0]) > 1:
                        masDeUnLabel=True
    if masDeUnLabel:
        return "multiple label"
    elif algunoMaroyAUno:
        return "multiple regression"
    elif menosQueCero:
        return "regresion arbitraria"
    elif masQueUno:
        return "regresion positiva"
    elif intermedio:
        return "regresion porcentual"
    elif unOutcome:
        return "clasificacion binaria"
    else:
        return "simple label"

In [34]:
def standarizarData():
    global inputData, ind, inputTrain, inputTest, outputTrain, outputTest, outputData, clasReg, subZero, minimo, data, scaler
    if input("Standarizar data? ") == "si":    
        scaler = preprocessing.StandardScaler().fit(inputData)
        inputData = scaler.transform(inputData)
        inputData = pd.DataFrame(inputData, columns = ind)
        print("hecho, data standarizada")
        print("")
    else:
        print("okey")
        print("")
    clasReg = False
    subZero = False
    for i in outputData[dep[0]]:
        if i != True:
            if i != False:
                clasReg=True
        if i < 0:
            subZero = True
    if raza == "clasificacion binaria":
        print("casos totales", data.shape[0])
        print("casos positivos",sum(data[dep[0]]))
        print("casos negativos",data.shape[0]-sum(data[dep[0]]))
        minimo=min((data.shape[0]-sum(data[dep[0]])),(sum(data[dep[0]])))
        print("proporcion de negativos sobre positivos",sum(data[dep[0]])/data.shape[0])
        print("")
        if input("Equilibrar la cantidad de resultados positivos y negativos? ") == "si":
            ceros=0
            unos=0
            for i in range(data.shape[0]):
                if data[dep[0]][i]==0:
                    ceros+=1
                    if ceros > minimo:
                        data=data.drop(i, axis=0)
                        inputData=inputData.drop(i, axis=0)
                        outputData=outputData.drop(i, axis=0)
                elif data[dep[0]][i]==1:
                    unos+=1
                    if unos > minimo:
                        data=data.drop(i, axis=0)
                        inputData=inputData.drop(i, axis=0)
                        outputData=outputData.drop(i, axis=0)
            print("casos totales", data.shape[0])
            print("casos positivos",sum(data[dep[0]]))
            print("casos negativos",data.shape[0]-sum(data[dep[0]]))
            minimo=min((data.shape[0]-sum(data[dep[0]])),(sum(data[dep[0]])))
            print("nueva proporcion de negativos sobre positivos",sum(data[dep[0]])/data.shape[0])
            print("")
    inputTrain, inputTest, outputTrain, outputTest = train_test_split(inputData, outputData, test_size=0.33, random_state=14)
    print("Input Data")
    display(inputData.sample(7))
    print("")

## def Modelos

In [12]:
def runCTree(j):
    if (raza == "clasificacion binaria") or (raza == "multiple label") or (raza == "simple label"):
        desicion_tree = tree.DecisionTreeClassifier(max_depth=j).fit(inputTrain, outputTrain)
        print("accuracy score:", round(accuracy_score(outputTest, desicion_tree.predict(inputTest)),4))
        shw(desicion_tree,0)
        return [desicion_tree, accu(desicion_tree,0), "tree", 0]
    elif (raza == "regresion arbitraria") or (raza == "regresion porcentual") or (raza == "regresion positiva") or (raza == "multiple regression"):
        desicion_tree = tree.DecisionTreeRegressor(max_depth=j).fit(inputTrain, outputTrain)
        print("mean squared error:", round(MeanSquaredError()(outputTest,desicion_tree.predict(inputTest)).numpy(),4))
        shw(desicion_tree,0)
        return [desicion_tree, accu(desicion_tree,0), "tree", 0]

In [13]:
def runRForest(j):
    if (raza == "clasificacion binaria") or (raza == "multiple label") or (raza == "simple label"):
        random_forest = RandomForestClassifier(max_depth=j).fit(inputTrain, outputTrain)
        print("accuracy score:", round(accuracy_score(outputTest, random_forest.predict(inputTest)),4))
        shw(random_forest,0)
        return [random_forest, accu(random_forest,0), "forest", 0]
    elif (raza == "regresion arbitraria") or (raza == "regresion porcentual") or (raza == "regresion positiva") or (raza == "multiple regression"):
        random_forest = tree.DecisionTreeRegressor(max_depth=j).fit(inputTrain, outputTrain)
        print("mean squared error:", round(MeanSquaredError()(outputTest,random_forest.predict(inputTest)).numpy(),4))
        shw(random_forest,0)
        return [random_forest, accu(random_forest,0), "forest", 0]

In [14]:
def runPoly(ii):
    global inputTrain, inputTest, outputTrain, outputTest, clasReg, modelosTodosPoly
    inputTrainPoly=PolynomialFeatures(degree=ii).fit_transform(inputTrain)
    inputTestPoly=PolynomialFeatures(degree=ii).fit_transform(inputTest)
    lineaRegPoly=LinearRegression().fit(inputTrainPoly, outputTrain)
    print("coefficient of determination:", round(lineaRegPoly.score(inputTrainPoly, outputTrain),4)*100, "%")
    shw(lineaRegPoly,ii)
    accur=accu(lineaRegPoly,ii)
    print("mse or accuracy:", round(accur,4))
    return [lineaRegPoly, accur, "poly", ii]

In [15]:
def disenarModelos():
    global layers, hidden1, activation1, hidden2, activation2, hidden3, activation3, optimizer, learningRate
    layers, hidden1, activation1, hidden2, activation2, hidden3, activation3, optimizer, learningRate=0,0,0,0,0,0,0,0,0
    layers=(input("cuantas capas tendrÃ¡ el modelo? (1, 2 o 3) ")[::].split(",")) #1,2,3
    for i in range(len(layers)):
        layers[i]=int(layers[i])
    hidden1=(input("cuantas celulas habrÃ¡ en la 1er capa? ")[::].split(","))
    for i in range(len(hidden1)):
        hidden1[i]=int(hidden1[i])
    activation1=(input("activacion de la capa 1? (sigmoid,softmax,tanh,relu,softplus,softsign,selu,elu,exponential) ")[::].split(",")) #sigmoid,softmax,tanh,relu,softplus,softsign,selu,elu,exponential
    if 2 in layers or 3 in layers:
        hidden2=(input("cuantas celulas habrÃ¡ en la 2da capa? ")[::].split(","))
        for i in range(len(hidden2)):
            hidden2[i]=int(hidden2[i])
        activation2=(input("activacion de la capa 2? (sigmoid,softmax,tanh,relu,softplus,softsign,selu,elu,exponential) ")[::].split(",")) #sigmoid,softmax,tanh,relu,softplus,softsign,selu,elu,exponential
    if 3 in layers:
        hidden3=(input("cuantas celulas habrÃ¡ en la 3er capa? ")[::].split(","))
        for i in range(len(hidden3)):
            hidden3[i]=int(hidden3[i])
        activation3=(input("activacion de la capa 3? (sigmoid,softmax,tanh,relu,softplus,softsign,selu,elu,exponential) ")[::].split(",")) #sigmoid,softmax,tanh,relu,softplus,softsign,selu,elu,exponential
    optimizer=[Adam] #Adam, SGD, RMSprop, Adadelta, Adagrad, Adamax, Nadam, Ftrl
    learningRate=(input("learning rate? (0.1, 0.01, 0.001, etc) ")[::].split(",")) #0.1, 0.01, 0.001
    for i in range(len(learningRate)):
        learningRate[i]=float(learningRate[i])
    print("")

In [16]:
def crearModelos():
    global models, optimizer, learningRate, layers, hidden1, activation1, hidden2, activation2, hidden3, activation3
    models=[]
    for i in optimizer:
        for j in learningRate:
            for k in layers:
                if k==1:
                    for m in hidden1:
                        for n in activation1:
                            models.append((m,n,0,0,0,0,i,j))
                elif k==2:
                    for m in hidden1:
                        for n in activation1:
                            for o in hidden2:
                                for p in activation2:
                                    models.append((m,n,o,p,0,0,i,j))
                elif k==3:
                    for m in hidden1:
                        for n in activation1:
                            for o in hidden2:
                                for p in activation2:
                                    for q in hidden3:
                                        for r in activation3:
                                            models.append((m,n,o,p,q,r,i,j))

In [17]:
def run(h1,a1,h2,a2,h3,a3,optimizer,lr):
    global clasReg, subZero
    print("")
    print(h1,a1,h2,a2,h3,a3,optimizer,lr)
    print("")
    model=Sequential()
    model.add(Dense(h1, input_shape=(inputData.shape[1],), activation=a1))
    if h2 > 0:
        model.add(Dense(h2, activation=a2))
    if h3 > 0:
        model.add(Dense(h3, activation=a3))
    early=EarlyStopping(monitor='val_loss', patience=5)
    if raza == "regresion arbitraria":
        model.add(Dense(outputData.shape[1]))
        model.compile(optimizer (learning_rate = lr), loss="mean_squared_error", metrics=['mae', 'mse'])
        print("regresion arbitraria - activaciÃ³n linear en la Ãºltima capa")
        print("")
        model.fit(inputTrain, outputTrain, validation_data=(inputTest, outputTest), epochs=1000, callbacks=[early], verbose=0)
        shw(model,0)
        print("mean squared error:", round(MeanSquaredError()(outputTest,model.predict(inputTest)).numpy(),4))
        return [model, accu(model,0), "neural", 0]
    elif raza == "regresion porcentual":
        model.add(Dense(outputData.shape[1], activation="sigmoid"))
        model.compile(optimizer (learning_rate = lr), loss="mean_squared_error", metrics=['mae', 'mse'])
        print("regresion porcentual - activaciÃ³n sigmoid en la Ãºltima capa")
        print("")
        model.fit(inputTrain, outputTrain, validation_data=(inputTest, outputTest), epochs=1000, callbacks=[early], verbose=0)
        shw(model,0)
        print("mean squared error:", round(MeanSquaredError()(outputTest,model.predict(inputTest)).numpy(),4))
        return [model, accu(model,0), "neural", 0]
    elif raza == "regresion positiva":
        model.add(Dense(outputData.shape[1], activation="relu"))
        model.compile(optimizer (learning_rate = lr), loss="mean_squared_error", metrics=['mae', 'mse'])
        print("regresion positiva - activaciÃ³n relu en la Ãºltima capa")
        print("")
        model.fit(inputTrain, outputTrain, validation_data=(inputTest, outputTest), epochs=1000, callbacks=[early], verbose=0)
        shw(model,0)
        print("mean squared error:", round(MeanSquaredError()(outputTest,model.predict(inputTest)).numpy(),4))
        return [model, accu(model,0), "neural", 0]
    elif raza == "multiple regression":
        model.add(Dense(outputData.shape[1]))
        model.compile(optimizer (learning_rate = lr), loss="mean_squared_error", metrics=['mae', 'mse'])
        print("multiple regression - activaciÃ³n linear en la Ãºltima capa")
        print("")
        model.fit(inputTrain, outputTrain, validation_data=(inputTest, outputTest), epochs=1000, callbacks=[early], verbose=0)
        shw(model,0)
        print("mean squared error:", round(MeanSquaredError()(outputTest,model.predict(inputTest)).numpy(),4))
        return [model, accu(model,0), "neural", 0]
    elif raza == "clasificacion binaria":
        model.add(Dense(outputData.shape[1], activation="sigmoid"))
        model.compile(optimizer (learning_rate = lr), loss="binary_crossentropy", metrics=['accuracy'])
        print("clasificacion binaria - activaciÃ³n sigmoid en la Ãºltima capa")
        print("")
        model.fit(inputTrain, outputTrain, validation_data=(inputTest, outputTest), epochs=1000, callbacks=[early], verbose=0)
        shw(model,0)
        print("accuracy score:", round(accuracy_score(outputTest, (model.predict(inputTest)>0.5)*1),4))
        return [model, accu(model,0), "neural", 0]
    elif raza == "multiple label":
        model.add(Dense(outputData.shape[1], activation="sigmoid"))
        model.compile(optimizer (learning_rate = lr), loss="binary_crossentropy", metrics=['accuracy'])
        print("multiple label - activaciÃ³n sigmoid en la Ãºltima capa")
        print("")
        model.fit(inputTrain, outputTrain, validation_data=(inputTest, outputTest), epochs=1000, callbacks=[early], verbose=0)
        shw(model,0)
        print("accuracy score:", round(accuracy_score(outputTest, (model.predict(inputTest)>0.5)*1),4))
        return [model, accu(model,0), "neural", 0]
    elif raza == "simple label":
        model.add(Dense(outputData.shape[1], activation="softmax"))
        model.compile(optimizer (learning_rate = lr), loss="categorical_crossentropy", metrics=['accuracy'])
        print("multiple label - activaciÃ³n softmax en la Ãºltima capa")
        print("")
        model.fit(inputTrain, outputTrain, validation_data=(inputTest, outputTest), epochs=1000, callbacks=[early], verbose=0)
        shw(model,0)
        print("accuracy score:", round(accuracy_score(outputTest, (model.predict(inputTest)>0.5)*1),4))
        return [model, accu(model,0), "neural", 0]
    print("")

## def Evaluar Modelos

In [18]:
def accu(model,g):
    global outputTest, inputTest
    if g==0:
        if (raza == "regresion arbitraria") or (raza == "regresion porcentual") or (raza == "regresion positiva") or (raza == "multiple regression"):
            return MeanSquaredError()(outputTest,model.predict(inputTest)).numpy()
        elif (raza == "clasificacion binaria") or (raza == "simple label") or (raza == "multiple label"):
            return accuracy_score(outputTest, (model.predict(inputTest)>0.5)*1)
        else:
            print("raza =", raza)
    else:
        if (raza == "regresion arbitraria") or (raza == "regresion porcentual") or (raza == "regresion positiva") or (raza == "multiple regression"):
            return MeanSquaredError()(outputTest,model.predict(PolynomialFeatures(degree=g).fit_transform(inputTest))).numpy()
        elif (raza == "clasificacion binaria") or (raza == "simple label") or (raza == "multiple label"):
            return accuracy_score(outputTest, (model.predict(PolynomialFeatures(degree=g).fit_transform(inputTest))>0.5)*1)
        else:
            print("raza =", raza)

In [19]:
def shw(model,g):
    global inputTest, dep, outputTest
    if g == 0:
        if (raza == "regresion arbitraria") or (raza == "regresion positiva") or (raza == "regresion porcentual"):
            show=pd.DataFrame(model.predict(inputTest), columns = ["predicted"])
            show["actual"]=outputTest.reset_index(drop=True, inplace=False)
            show["actual"]=show["actual"].fillna(0)
            display(show.sample(7))
        elif raza == "multiple regression":
            predDep=[]
            actDep=[]
            for i in dep:
                predDep.append("pred-"+i)
                actDep.append("act-"+i)
            show=pd.DataFrame(model.predict(inputTest), columns = predDep)
            show[actDep]=outputTest.reset_index(drop=True, inplace=False)
            show[actDep]=show[actDep].fillna(0)
            display(show.sample(7))
        elif raza == "clasificacion binaria":
            show=pd.DataFrame(model.predict(inputTest), columns = ["predicted"])
            show["result"]=(model.predict(inputTest)>0.5)*1
            show["actual"]=outputTest.reset_index(drop=True, inplace=False)
            show["actual"]=show["actual"].fillna(0)
            show["actual"]=show["actual"].astype(int)
            display(show.sample(7))
        elif (raza == "multiple label") or (raza == "simple label"):
            predDep=[]
            actDep=[]
            resDep=[]
            for i in dep:
                predDep.append("pred-"+i)
                actDep.append("act-"+i)
                resDep.append("res-"+i)
            show=pd.DataFrame(model.predict(inputTest), columns = predDep)
            show[resDep]=(model.predict(inputTest)>0.5)*1
            show[actDep]=outputTest.reset_index(drop=True, inplace=False)
            show[actDep]=show[actDep].fillna(0)
            display(show.sample(7))
    else:
        if (raza == "regresion arbitraria") or (raza == "regresion positiva") or (raza == "regresion porcentual"):
            show=pd.DataFrame(model.predict(PolynomialFeatures(degree=g).fit_transform(inputTest)), columns = ["predicted"])
            show["actual"]=outputTest.reset_index(drop=True, inplace=False)
            show["actual"]=show["actual"].fillna(0)
            display(show.sample(7))
        elif raza == "clasificacion binaria":
            show=pd.DataFrame(model.predict(PolynomialFeatures(degree=g).fit_transform(inputTest)), columns = ["predicted"])
            show["result"]=(model.predict(PolynomialFeatures(degree=g).fit_transform(inputTest))>0.5)*1
            show["actual"]=outputTest.reset_index(drop=True, inplace=False)
            show["actual"]=show["actual"].fillna(0)
            show["actual"]=show["actual"].astype(int)
            display(show.sample(7))

In [20]:
def pando(model,g,inp):
    if g==0:
        return model.predict(inp)
    else:
        return model.predict(PolynomialFeatures(degree=g).fit_transform(inp))

## def Estrategia Automatica

In [21]:
def estAut():
    global modelosTodos, ind, layers, hidden1, activation1, hidden2, activation2, hidden3, activation3, optimizer, learningRate, models, raza
    modelosTodos=[]
    for i in range(1,min(len(ind),15)+1):
        print("")
        print("###################################################################")
        print("---CUSTOM-TREE--------------Model nÂ°", (len(modelosTodos)), "----------------------------")
        print("###################################################################")
        modelosTodos.append(runCTree(i))
        print("")
    for i in range(1,min(len(ind),15)+1):
        print("")
        print("###################################################################")
        print("---RANDOM-FOREST------------Model nÂ°", (len(modelosTodos)), "----------------------------")
        print("###################################################################")
        modelosTodos.append(runRForest(i))
        print("")
    if not((raza=="multiple label") or (raza=="multiple regression") or (raza=="simple label")):
        for i in range(1,min(len(ind),5)+1):
            print("")
            print("###################################################################")
            print("---POLYNOMIAL---------------Model nÂ°", (len(modelosTodos)), "----------------------------")
            print("###################################################################")
            modelosTodos.append(runPoly(i))
            print("")
    layers=[1, 2, 3]
    hidden1=[2, 4, 8, 16, 32, 64]
    activation1=['sigmoid', 'softmax', 'tanh', 'relu', 'softplus', 'softsign', 'selu', 'elu', 'exponential']
    hidden2=[2, 4, 8, 16, 32, 64]
    activation2=['sigmoid', 'softmax', 'tanh', 'relu', 'softplus', 'softsign', 'selu', 'elu', 'exponential']
    hidden3=[2, 4, 8, 16, 32, 64]
    activation3=['sigmoid', 'softmax', 'tanh', 'relu', 'softplus', 'softsign', 'selu', 'elu', 'exponential']
    optimizer=[Adam]
    learningRate=[0.001, 0.005, 0.01, 0.05, 0.1, 0.5]
    crearModelos()
    print("hay un total de",len(models), "modelos")
    print("")
    random.shuffle(models)
    print("-------------------------Modelos-------------------------")
    for i in range(15):
        print(models[i])
    print("")
    for i in range(25):
        print("")
        print("###################################################################")
        print("---DEEP-NEURAL--------------Model nÂ°", (len(modelosTodos)), "----------------------------")
        print("###################################################################")
        modelosTodos.append(run(models[i][0],models[i][1],models[i][2],models[i][3],models[i][4],models[i][5],models[i][6],models[i][7]))
        print("")
    pd.set_option('display.max_rows', pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"]).shape[0]+1)
    display(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"]))
    if (raza == "regresion arbitraria") or (raza == "regresion porcentual") or (raza == "regresion positiva") or (raza == "multiple regression"):
        print(modelosTodos[list(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"]).index(min(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"]))])
        print("modelo nÂ°", list(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"]).index(min(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"])))
    elif (raza == "clasificacion binaria") or (raza == "simple label") or (raza == "multiple label"):
        print(modelosTodos[list(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"]).index(max(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"]))])
        print("modelo nÂ°", list(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"]).index(max(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"])))
    elegirMejorModelo()
    if input("guardar el mejor modelo para usarlo en el futuro? ") == "si":
        guardarMejorModelo()

## Mejor Modelo y Resultados

In [22]:
def elegirMejorModelo():
    global modelosTodos, raza, dep, inputTest, outputTest, mejorModelo
    if (raza == "clasificacion binaria") or (raza == "multiple label") or (raza == "simple label"):
        mejorModelo={"modelo":0, "puntaje":0, "tipo":0, "grado":0}
        print("el mejor modelo es el que aumenta la precisiÃ³n")
        print("")
        for i, j, k, l in modelosTodos:
            if j > mejorModelo["puntaje"]:
                mejorModelo["modelo"]=i
                mejorModelo["puntaje"]=j
                mejorModelo["tipo"]=k
                mejorModelo["grado"]=l
    else:
        mejorModelo={"modelo":999999999999999999, "puntaje":999999999999999999, "tipo":999999999999999999, "grado":999999999999999999}
        print("el mejor modelo es el que minimiza el Mean Squared Error")
        print("")
        for i, j, k, l in modelosTodos:
            if j < mejorModelo["puntaje"]:
                mejorModelo["modelo"]=i
                mejorModelo["puntaje"]=j
                mejorModelo["tipo"]=k
                mejorModelo["grado"]=l
    print(mejorModelo)
    if (raza == "clasificacion binaria") or (raza == "multiple label") or (raza == "simple label"):
        shw(mejorModelo["modelo"],mejorModelo["grado"])
        print("accuracy:", accu(mejorModelo["modelo"],mejorModelo["grado"]))
        if raza == "clasificacion binaria":
            confusion(mejorModelo["modelo"],mejorModelo["grado"])
    else:
        shw(mejorModelo["modelo"],mejorModelo["grado"])
        print("MSE:", accu(mejorModelo["modelo"],mejorModelo["grado"]))
        print("")

In [124]:
def confusion(model,g):
    inputTest, outputTest
    if g==0:
        confu = confusion_matrix(outputTest,model.predict(inputTest))
    else:
        confu = confusion_matrix(outputTest,(model.predict(PolynomialFeatures(degree=g).fit_transform(inputTest))).astype(int))
    print(confu)
    print("acierta", round(confu[0][0]/sum(confu[0]),2),"de los negativos")
    print("acierta", round(confu[1][1]/sum(confu[1]),2),"de los positivos")
    print(round(confu[0][0]/(confu[0][0]+confu[1][0]),2),"de los predichos como negativos estan okey")
    print(round(confu[1][1]/(confu[1][1]+confu[0][1]),2),"de los predichos como positivos estan okey")
    print("")

In [125]:
def confusion2(model,g):
    inputTest, outputTest
    if g==0:
        confu = confusion_matrix(outputTest,(model.predict(inputTest)>0)*1)
    else:
        confu = confusion_matrix(outputTest,(model.predict(PolynomialFeatures(degree=g).fit_transform(inputTest))).astype(int))
    print(confu)
    print("acierta", round(confu[0][0]/sum(confu[0]),2),"de los negativos")
    print("acierta", round(confu[1][1]/sum(confu[1]),2),"de los positivos")
    print(round(confu[0][0]/(confu[0][0]+confu[1][0]),2),"de los predichos como negativos estan okey")
    print(round(confu[1][1]/(confu[1][1]+confu[0][1]),2),"de los predichos como positivos estan okey")
    print("")

In [24]:
def abrirModelo():
    global mejorModelo
    mejorModelo={}
    mejorModelo["puntaje"] = pd.read_csv("g_puntajetipogradoMejorModelo.csv")["Puntaje"][0]
    mejorModelo["tipo"] = pd.read_csv("g_puntajetipogradoMejorModelo.csv")["Puntaje"][1]
    mejorModelo["grado"] = pd.read_csv("g_puntajetipogradoMejorModelo.csv")["Puntaje"][2]
    mejorModelo["modelo"] = keras.models.load_model('g_mejorModelo.h5')

In [25]:
def guardarMejorModelo():
    global mejorModelo
    mejorModelo["modelo"].save('g_mejorModelo.h5')
    pandas_puntajeTipoGrado=pd.DataFrame([mejorModelo["puntaje"], mejorModelo["tipo"], mejorModelo["grado"]], columns=["Puntaje"])
    pandas_puntajeTipoGrado.to_csv("g_puntajetipogradoMejorModelo.csv")

## Subir Data y elegir Input y Output

In [159]:
if input('desea crear un nuevo modelo?') == "si":
    subirData()
    limpiarData()
    elegirVariables()
    dummies()
    raza = razaModelo()
    standarizarData()
    if input("correr estrategia automÃ¡tica? ") == "si":
        estAut()
else:
    abrirModelo()

desea crear un nuevo modelo?si
coloque direccion de la dataC:\Users\joseg\Downloads
cual es el nombre del archivo?data_catriel (5).csv

la base de datos tiene 34 columnas y 817 filas
cantidad de filas completas es 817

Quitar Outlayers? no
okey

,Unnamed: 0,url,comentarios,comentarios_scaled_ok,comentarios_btm,likes,likes_scaled_ok,likes_btm,up_date,agno,...,Repost,mountainbike,mondrakerbikes,podiumcarbon,enjoy,smile,mmrfactoryracingteam,btt,rotor,pasion
810,810,https://www.instagram.com/p/rA3zU5EWCc/,9,-0.166707,1,124,-1.220255,1,2014-07-28 20:44:34,2014,...,0,0,0,0,0,0,0,0,0,0
565,565,https://www.instagram.com/p/BOiMtuygXnN/,17,-0.076317,1,871,-0.477489,1,2016-12-27 17:41:03,2016,...,0,0,0,0,0,0,0,0,0,0
192,192,https://www.instagram.com/p/BmDuXcbBFhq/,12,-0.132811,0,824,-0.524222,0,2018-08-04 10:12:06,2018,...,1,0,0,0,0,0,0,0,0,0
153,153,https://www.instagram.com/p/BtB7lTrHlXX/,9,-0.166707,0,1618,0.265277,1,2019-01-24 17:08:52,2019,...,0,0,0,0,0,0,0,0,0,0
216,216,https://www.instagram.com/p/BjnCOwfg33j/,80,0.635500,1,4075,2.708351,1,2018-06-04 13:44:55,2018,...,0,0,0,0,0,0,0,0,0,0
637,637,https://www.instagram.com/p/BGsCzCIkWDn/,5,-0.211902,0,406,-0.939853,0,2016-06-15 17:15:38,2016,...,0,0,0,0,0,0,0,0,0,0
472,472,https://www.instagram.com/p/BSHMMMrAZTU/,11,-0.144109,1,762,-0.585871,0,2017-03-26 16:02:33,2017,...,0,0,1,0,0,0,0,0,0,0

puede definir variables independientes y dependientes entre las siguientes:
['Unnamed: 0', 'url', 'comentarios', 'comentarios_scaled_ok', 'comentarios_btm', 'likes', 'likes_scaled_ok', 'likes_btm', 'up_date', 'agno', 'mes', 'dia', 'hora', 'minuto', 'dia_semana', 'len_caption', 'es_video', 'tiene_audio', 'height', 'width', 'tag_users', 'cantidad_hash', 'ubicacion', 'ciclismo', 'Repost', 'mountainbike', 'mondrakerbikes', 'podiumcarbon', 'enjoy', 'smile', 'mmrfactoryracingteam', 'btt', 'rotor', 'pasion']


likes es una variable dependiente
agno es una variable independiente
mes es una variable independiente
dia es una variable independiente
hora es una variable independiente
dia_semana es una variable independiente
len_caption es una variable independiente
es_video es una variable independiente
tiene_audio es una variable independiente
height es una variable independiente
width es una variable independiente
tag_users es una variable independiente
cantidad_hash es una variable independiente
ubicacion es una variable independiente

,agno,mes,dia,hora,dia_semana,len_caption,es_video,tiene_audio,height,width,tag_users,cantidad_hash,ubicacion,likes
428,2017,5,6,9,sabado,565,0,0,1080,1080,3,2,0,1145
460,2017,4,4,13,martes,336,0,0,1350,1080,1,0,1,1589
452,2017,4,7,10,viernes,187,0,0,810,1080,1,0,1,787
331,2017,8,21,10,lunes,179,0,0,810,1080,5,0,1,967
611,2016,8,16,9,martes,111,0,0,810,1080,0,0,0,589
310,2017,9,10,3,domingo,127,0,0,718,1080,4,0,1,2347
181,2018,9,2,8,domingo,497,0,0,1080,1080,0,1,1,1597

creamos dummy variables para la variable dia_semana
Input Data

,agno,mes,dia,hora,len_caption,es_video,tiene_audio,height,width,tag_users,cantidad_hash,ubicacion,dia_semana - domingo,dia_semana - jueves,dia_semana - lunes,dia_semana - martes,dia_semana - miercoles,dia_semana - sabado,dia_semana - viernes
351,2017,7,27,15,31,0,0,766,1080,0,0,1,0,1,0,0,0,0,0
82,2019,9,7,16,167,0,0,976,1080,0,0,1,0,0,0,0,0,1,0
161,2018,11,26,13,409,1,1,750,750,0,0,1,0,0,1,0,0,0,0
61,2020,2,3,16,588,0,0,1080,1080,0,0,1,0,0,1,0,0,0,0
369,2017,7,13,20,240,0,0,1080,1080,1,2,1,0,1,0,0,0,0,0
412,2017,5,20,11,322,1,1,360,640,0,0,1,0,0,0,0,0,1,0
813,2014,7,27,21,25,0,0,640,640,0,0,0,1,0,0,0,0,0,0

Output Data

     likes
383   1997
601   1866
53    3807
526   1366
735    383
300   1605
802    133

Standarizar data? si
hecho, data standarizada

Input Data

,agno,mes,dia,hora,len_caption,es_video,tiene_audio,height,width,tag_users,cantidad_hash,ubicacion,dia_semana - domingo,dia_semana - jueves,dia_semana - lunes,dia_semana - martes,dia_semana - miercoles,dia_semana - sabado,dia_semana - viernes
173,0.529802,1.161289,1.266757,-1.317981,-0.940558,3.100063,3.168681,-2.421306,-1.875464,-0.481198,-0.401484,0.878769,-0.390291,2.693051,-0.433013,-0.408831,-0.364895,-0.478091,-0.406790
775,-1.414127,-0.827753,1.379104,1.150779,-0.258261,-0.322574,-0.315589,-1.207314,-1.875464,-0.481198,1.177397,-1.137956,-0.390291,-0.371326,-0.433013,-0.408831,-0.364895,2.091650,-0.406790
41,1.825754,-0.496246,1.042063,1.150779,1.976376,-0.322574,-0.315589,0.597267,0.544307,1.042596,-0.401484,0.878769,-0.390291,-0.371326,-0.433013,-0.408831,-0.364895,2.091650,-0.406790
404,-0.118174,-0.164739,1.154410,-1.112251,1.463509,-0.322574,-0.315589,1.524165,0.544307,1.550527,5.519322,-1.137956,-0.390291,-0.371326,-0.433013,-0.408831,-0.364895,-0.478091,2.458272
175,0.529802,1.161289,0.143287,-1.523711,-0.171257,-0.322574,-0.315589,0.589064,0.544307,0.026733,-0.401484,0.878769,-0.390291,-0.371326,2.309401,-0.408831,-0.364895,-0.478091,-0.406790
255,0.529802,-1.159260,-0.643142,0.122129,0.767474,-0.322574,-0.315589,0.597267,0.544307,0.026733,4.335161,0.878769,-0.390291,-0.371326,-0.433013,-0.408831,-0.364895,2.091650,-0.406790
424,-0.118174,-0.164739,-0.755489,0.122129,-0.578803,-0.322574,-0.315589,-0.251707,0.544307,0.026733,-0.401484,0.878769,-0.390291,-0.371326,-0.433013,2.445998,-0.364895,-0.478091,-0.406790

correr estrategia automÃ¡tica? si

###################################################################
---CUSTOM-TREE--------------Model nÂ° 0 ----------------------------
###################################################################
mean squared error: 1457128.75

       predicted  actual
175   968.431635     138
118   968.431635    1667
265   968.431635     490
238  2168.649425    2812
197   968.431635     201
39    968.431635     944
191   968.431635    1360

###################################################################
---CUSTOM-TREE--------------Model nÂ° 1 ----------------------------
###################################################################
mean squared error: 1631627.5

       predicted  actual
38   1283.108374     603
68   2362.704698    1527
178  1012.080000     736
13   1283.108374    1240
37   2362.704698    1734
94   1283.108374    1031
220  1283.108374    1560

###################################################################
---CUSTOM-TREE--------------Model nÂ° 2 ----------------------------
###################################################################
mean squared error: 1645929.75

       predicted  actual
195   819.509804     240
11   2324.148649     410
120   252.411765     218
128   777.944444     782
177   819.509804     394
31   2324.148649    3845
175   252.411765     138

###################################################################
---CUSTOM-TREE--------------Model nÂ° 3 ----------------------------
###################################################################
mean squared error: 1686346.875

       predicted  actual
135  1216.209524    1841
238  2213.485075    2812
25   2213.485075    2399
138   143.444444     176
46   1464.987342    2017
199  2213.485075    2187
19   1464.987342    1454

###################################################################
---CUSTOM-TREE--------------Model nÂ° 4 ----------------------------
###################################################################
mean squared error: 1685992.625

       predicted  actual
156   705.800000     869
235  3830.545455    5584
116  1023.312500     953
51   1300.767123    1027
179  1023.312500     639
9     705.800000    1085
149   687.230769     678

###################################################################
---CUSTOM-TREE--------------Model nÂ° 5 ----------------------------
###################################################################
mean squared error: 1743059.375

       predicted  actual
165   769.875000    1779
111  2087.737705    3251
93   1441.212121     561
114   928.500000     478
234   928.500000     465
225  1613.750000    1084
176  1333.480000    1893

###################################################################
---CUSTOM-TREE--------------Model nÂ° 6 ----------------------------
###################################################################
mean squared error: 1767084.5

       predicted  actual
35   2144.247619    3019
18    681.400000    1305
263  2144.247619    1223
261   863.720000    2433
25   2144.247619    2399
257  2144.247619    1982
124  1205.051282    1599

###################################################################
---CUSTOM-TREE--------------Model nÂ° 7 ----------------------------
###################################################################
mean squared error: 1789307.5

       predicted  actual
154   130.666667     170
44    406.000000     551
173  2362.500000    1562
135  1121.600000    1841
259  2221.988372    1700
182  1434.473684     691
164  1246.000000     455

###################################################################
---CUSTOM-TREE--------------Model nÂ° 8 ----------------------------
###################################################################
mean squared error: 1807871.75

       predicted  actual
114  1920.000000     478
208  2144.166667    1370
226  2178.987654    1959
220   489.000000    1560
74     73.000000     124
151   799.000000     645
255  1703.142857    1645

###################################################################
---CUSTOM-TREE--------------Model nÂ° 9 ----------------------------
###################################################################
mean squared error: 1804135.875

      predicted  actual
185  1994.00000    1496
196  1736.00000    1105
89   2041.25000    1645
243   930.70000     871
241  1941.00000    1366
207  2279.33871    1894
157   762.00000    1042

###################################################################
---CUSTOM-TREE--------------Model nÂ° 10 ----------------------------
###################################################################
mean squared error: 1844629.0

     predicted  actual
187    1751.25    2175
140     479.00     712
102     353.00     235
45      261.00     199
70     1249.00    1054
80      612.10     448
128     667.00     782

###################################################################
---CUSTOM-TREE--------------Model nÂ° 11 ----------------------------
###################################################################
mean squared error: 1931043.375

       predicted  actual
55   1322.000000     404
128   667.000000     782
7    1733.000000    1983
8     477.000000     718
86    613.000000     997
19   2420.000000    1454
155   212.333333     226

###################################################################
---CUSTOM-TREE--------------Model nÂ° 12 ----------------------------
###################################################################
mean squared error: 1909204.25

       predicted  actual
250  2271.000000    2483
135  1168.000000    1841
203  2338.333333    2521
238  2651.600000    2812
16    431.000000     207
19   1967.000000    1454
42   1780.333333    1428

###################################################################
---CUSTOM-TREE--------------Model nÂ° 13 ----------------------------
###################################################################
mean squared error: 1912846.375

     predicted  actual
74        88.0     124
260      693.0    1764
46      1030.0    2017
148     2224.0    2394
168     1042.0     929
213      629.0    1485
157      762.0    1042

###################################################################
---CUSTOM-TREE--------------Model nÂ° 14 ----------------------------
###################################################################
mean squared error: 1965726.375

      predicted  actual
203  2269.00000    2521
36   1549.00000    1583
123  2288.00000    2245
233  2191.90625    1948
134  1928.00000    1522
50   1587.00000    1636
27   1235.00000    1380

###################################################################
---RANDOM-FOREST------------Model nÂ° 15 ----------------------------
###################################################################
mean squared error: 1457128.75

       predicted  actual
108   968.431635     578
20   2168.649425    2512
219  2168.649425    2585
251   968.431635     545
131  2168.649425    1072
12    968.431635    1749
4     968.431635     304

###################################################################
---RANDOM-FOREST------------Model nÂ° 16 ----------------------------
###################################################################
mean squared error: 1631627.5

       predicted  actual
194  2362.704698    2016
17   1283.108374     481
191   592.670588    1360
51   1283.108374    1027
220  1283.108374    1560
203  2362.704698    2521
96   2362.704698    2707

###################################################################
---RANDOM-FOREST------------Model nÂ° 17 ----------------------------
###################################################################
mean squared error: 1645929.75

       predicted  actual
190  2324.148649    1626
216  2324.148649    4741
132   819.509804     646
263  2324.148649    1223
244  2324.148649    3906
136   252.411765     455
226  2324.148649    1959

###################################################################
---RANDOM-FOREST------------Model nÂ° 18 ----------------------------
###################################################################
mean squared error: 1686346.875

       predicted  actual
241  1464.987342    1366
75   1464.987342    1794
86    991.214286     997
263  2213.485075    1223
66    291.640000     412
188   291.640000     331
198  1464.987342     585

###################################################################
---RANDOM-FOREST------------Model nÂ° 19 ----------------------------
###################################################################
mean squared error: 1685992.625

       predicted  actual
10    687.230769     499
234  1011.294118     465
57   2136.314961    2223
190  2136.314961    1626
60   3830.545455    1904
39   1300.767123     944
71    358.055556     262

###################################################################
---RANDOM-FOREST------------Model nÂ° 20 ----------------------------
###################################################################
mean squared error: 1749026.875

       predicted  actual
220   551.000000    1560
14    928.500000    1439
79   1184.900000     632
201  2087.737705    1880
122   618.560000     807
179   921.185185     639
20   2087.737705    2512

###################################################################
---RANDOM-FOREST------------Model nÂ° 21 ----------------------------
###################################################################
mean squared error: 1767420.5

       predicted  actual
242   268.629630     190
60   5650.000000    1904
59    863.720000    1605
56   2144.247619    3383
127  2144.247619    2302
144   823.034483     816
123  2144.247619    2245

###################################################################
---RANDOM-FOREST------------Model nÂ° 22 ----------------------------
###################################################################
mean squared error: 1837287.625

       predicted  actual
253  1354.071429    1328
34   1362.250000     368
244  2221.988372    3906
127  2221.988372    2302
184  1571.631579    1145
147  2221.988372    2055
140   406.000000     712

###################################################################
---RANDOM-FOREST------------Model nÂ° 23 ----------------------------
###################################################################
mean squared error: 1881635.25

       predicted  actual
105   564.476190     462
80    630.214286     448
234   862.000000     465
219  2178.987654    2585
259  2178.987654    1700
254  2178.987654    2788
81   2178.987654    1906

###################################################################
---RANDOM-FOREST------------Model nÂ° 24 ----------------------------
###################################################################
mean squared error: 1914321.625

       predicted  actual
149   545.333333     678
165   832.000000    1779
106  1518.400000    1647
117  1851.526316    2044
245   517.000000    1743
10    648.000000     499
224   545.333333     451

###################################################################
---RANDOM-FOREST------------Model nÂ° 25 ----------------------------
###################################################################
mean squared error: 1880074.0

       predicted  actual
61   1030.000000    1521
84   2222.035088    3829
26     88.000000     186
19   1967.000000    1454
263  2222.035088    1223
233  2222.035088    1948
267  1556.600000    2014

###################################################################
---RANDOM-FOREST------------Model nÂ° 26 ----------------------------
###################################################################
mean squared error: 1849731.375

     predicted  actual
104     1369.0    1400
77       130.0     210
99      1227.0     721
4        309.0     304
172      846.0    1549
61      1030.0    1521
243     1381.0     871

###################################################################
---RANDOM-FOREST------------Model nÂ° 27 ----------------------------
###################################################################
mean squared error: 1937940.75

       predicted  actual
33    978.000000    1957
196  1736.000000    1105
228   881.000000    1525
171  2217.447368    1898
140   406.000000     712
49    336.000000     250
47    876.400000     490

###################################################################
---RANDOM-FOREST------------Model nÂ° 28 ----------------------------
###################################################################
mean squared error: 1875291.625

       predicted  actual
21   1127.000000    1398
194  2254.513514    2016
34   1547.000000     368
84   2254.513514    3829
262  2027.000000    1699
132   598.666667     646
10    654.000000     499

###################################################################
---RANDOM-FOREST------------Model nÂ° 29 ----------------------------
###################################################################
mean squared error: 1928527.875

     predicted  actual
136      176.0     455
4        288.0     304
37      1479.0    1734
218      206.0     271
35      2655.2    3019
12      2027.0    1749
46      1030.0    2017

###################################################################
---POLYNOMIAL---------------Model nÂ° 30 ----------------------------
###################################################################
coefficient of determination: 58.709999999999994 %

       predicted  actual
229  1202.735003    1322
174   304.735003    1598
240  1372.735003    1422
182  1336.735003     691
218   540.735003     271
123  2240.735003    2245
0    1539.735003    1488

mse or accuracy: 479993.0


###################################################################
---POLYNOMIAL---------------Model nÂ° 31 ----------------------------
###################################################################
coefficient of determination: 78.09 %

     predicted  actual
12      1481.0    1749
35      1653.0    3019
15      2567.0    3533
217     1807.0    1754
89       882.5    1645
150      659.0    1387
201     1571.0    1880

mse or accuracy: 3.350908142594202e+29


###################################################################
---POLYNOMIAL---------------Model nÂ° 32 ----------------------------
###################################################################
coefficient of determination: 100.0 %

        predicted  actual
104 -4.913382e+04    1400
32   2.085179e+04    2758
187  1.855583e+05    2175
191  7.364466e+03    1360
183 -6.289636e+05     111
156 -2.982467e+06     869
6   -6.059122e+05    2082

mse or accuracy: 7358412488704.0


###################################################################
---POLYNOMIAL---------------Model nÂ° 33 ----------------------------
###################################################################
coefficient of determination: 100.0 %

        predicted  actual
56   2.640163e+08    3383
25  -5.727749e+06    2399
219  2.141545e+07    2585
13  -2.358979e+07    1240
92   5.187547e+07    2194
106 -1.752835e+08    1647
82   6.512252e+08     903

mse or accuracy: 1.0515828164096164e+19


###################################################################
---POLYNOMIAL---------------Model nÂ° 34 ----------------------------
###################################################################
coefficient of determination: 100.0 %

        predicted  actual
69   8.517068e+06     332
75   1.064184e+08    1794
207 -6.018191e+07    1894
25  -1.917255e+08    2399
63   5.713527e+07    1033
216 -2.289213e+11    4741
138  6.393548e+07     176

mse or accuracy: 1.0718346858972504e+21

hay un total de 962604 modelos

-------------------------Modelos-------------------------
(32, 'softplus', 64, 'softmax', 32, 'relu', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.01)
(4, 'relu', 64, 'exponential', 4, 'sigmoid', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.05)
(32, 'exponential', 16, 'exponential', 8, 'elu', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.05)
(2, 'softplus', 4, 'relu', 2, 'exponential', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.05)
(4, 'elu', 32, 'softmax', 2, 'selu', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.005)
(8, 'selu', 16, 'softplus', 32, 'tanh', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.01)
(4, 'softmax', 2, 'tanh', 64, 'sigmoid', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.05)
(64, 'softmax', 32, 'sigmoid', 32, 'tanh', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.005)
(64, 'selu', 2, 'softplus', 2, 'sigmoid', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.001)
(8, 'relu', 2, 'exponential', 16, 'exponential', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.001)
(2, 'selu', 32, 'sigmoid', 2, 'sigmoid', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)
(32, 'selu', 32, 'elu', 32, 'relu', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.01)
(8, 'elu', 4, 'sigmoid', 32, 'relu', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.01)
(64, 'sigmoid', 32, 'relu', 2, 'softsign', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)
(4, 'softmax', 4, 'elu', 2, 'sigmoid', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.01)


###################################################################
---DEEP-NEURAL--------------Model nÂ° 35 ----------------------------
###################################################################

32 softplus 64 softmax 32 relu <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.01

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
240  1101.853027    1422
256  1112.907471    1783
158  2166.248291    1753
183  1127.454956     111
252  1155.322144     861
125  2376.153320    2450
19   1182.222412    1454

mean squared error: 582228.4


###################################################################
---DEEP-NEURAL--------------Model nÂ° 36 ----------------------------
###################################################################

4 relu 64 exponential 4 sigmoid <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.05

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
118  1334.439453    1667
96   1334.439453    2707
9    1334.439453    1085
112  1334.439453     426
242  1334.439453     190
159  1334.439453    1671
5    1334.439453     264

mean squared error: 1121058.8


###################################################################
---DEEP-NEURAL--------------Model nÂ° 37 ----------------------------
###################################################################

32 exponential 16 exponential 8 elu <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.05

regresion positiva - activaciÃ³n relu en la Ãºltima capa

     predicted  actual
130        NaN    1095
211        NaN    1423
29         NaN     824
31         NaN    3845
191        NaN    1360
42         NaN    1428
243        NaN     871

mean squared error: nan


###################################################################
---DEEP-NEURAL--------------Model nÂ° 38 ----------------------------
###################################################################

2 softplus 4 relu 2 exponential <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.05

regresion positiva - activaciÃ³n relu en la Ãºltima capa

     predicted  actual
125        0.0    2450
190        0.0    1626
110        0.0    2226
177        0.0     394
158        0.0    1753
15         0.0    3533
92         0.0    2194

mean squared error: 3079942.8


###################################################################
---DEEP-NEURAL--------------Model nÂ° 39 ----------------------------
###################################################################

4 elu 32 softmax 2 selu <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.005

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
116  1649.921387     953
28   1649.956787    1119
213  1649.876221    1485
239  1649.957886     220
19   1649.233887    1454
167   242.357971     149
76    554.518616     113

mean squared error: 790827.3


###################################################################
---DEEP-NEURAL--------------Model nÂ° 40 ----------------------------
###################################################################

8 selu 16 softplus 32 tanh <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.01

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
192   236.958038     133
23   1412.286987    1319
142   552.527283     423
231  1608.549805    1194
210   715.410828     363
205  1608.549805    2693
186  1608.549805    2683

mean squared error: 781030.7


###################################################################
---DEEP-NEURAL--------------Model nÂ° 41 ----------------------------
###################################################################

4 softmax 2 tanh 64 sigmoid <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.05

regresion positiva - activaciÃ³n relu en la Ãºltima capa

     predicted  actual
191        0.0    1360
160        0.0     406
65         0.0     440
8          0.0     718
177        0.0     394
76         0.0     113
133        0.0    1219

mean squared error: 3079942.8


###################################################################
---DEEP-NEURAL--------------Model nÂ° 42 ----------------------------
###################################################################

64 softmax 32 sigmoid 32 tanh <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.005

regresion positiva - activaciÃ³n relu en la Ãºltima capa

     predicted  actual
200        0.0    1395
18         0.0    1305
125        0.0    2450
9          0.0    1085
67         0.0    2708
252        0.0     861
36         0.0    1583

mean squared error: 3079942.8


###################################################################
---DEEP-NEURAL--------------Model nÂ° 43 ----------------------------
###################################################################

64 selu 2 softplus 2 sigmoid <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.001

regresion positiva - activaciÃ³n relu en la Ãºltima capa

     predicted  actual
257        0.0    1982
19         0.0    1454
124        0.0    1599
136        0.0     455
202        0.0     237
238        0.0    2812
74         0.0     124

mean squared error: 3079942.8


###################################################################
---DEEP-NEURAL--------------Model nÂ° 44 ----------------------------
###################################################################

8 relu 2 exponential 16 exponential <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.001

regresion positiva - activaciÃ³n relu en la Ãºltima capa

     predicted  actual
13         0.0    1240
106        0.0    1647
245        0.0    1743
128        0.0     782
5          0.0     264
261        0.0    2433
212        0.0    1745

mean squared error: 3079942.8


###################################################################
---DEEP-NEURAL--------------Model nÂ° 45 ----------------------------
###################################################################

2 selu 32 sigmoid 2 sigmoid <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.1

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
156   995.420044     869
106   995.420044    1647
52   1597.268433    2536
216  1597.268433    4741
4     995.420044     304
206   995.420044    1022
138   995.420044     176

mean squared error: 875070.25


###################################################################
---DEEP-NEURAL--------------Model nÂ° 46 ----------------------------
###################################################################

32 selu 32 elu 32 relu <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.01

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
112   892.032898     426
234   864.944458     465
16      0.000000     207
228   677.162659    1525
252   764.720398     861
182  1103.789551     691
245  1125.270996    1743

mean squared error: 493078.62


###################################################################
---DEEP-NEURAL--------------Model nÂ° 47 ----------------------------
###################################################################

8 elu 4 sigmoid 32 relu <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.01

regresion positiva - activaciÃ³n relu en la Ãºltima capa

     predicted  actual
258        0.0    4075
124        0.0    1599
62         0.0    1824
32         0.0    2758
230        0.0     385
116        0.0     953
204        0.0     603

mean squared error: 3079942.8


###################################################################
---DEEP-NEURAL--------------Model nÂ° 48 ----------------------------
###################################################################

64 sigmoid 32 relu 2 softsign <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.1

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
255  1270.430664    1645
268  1270.307007     590
199  1270.439087    2187
265  1270.431274     490
203  1270.438599    2521
38   1270.438721     603
139  1270.430298     768

mean squared error: 1027499.1


###################################################################
---DEEP-NEURAL--------------Model nÂ° 49 ----------------------------
###################################################################

4 softmax 4 elu 2 sigmoid <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.01

regresion positiva - activaciÃ³n relu en la Ãºltima capa

     predicted  actual
236   350.6297     190
101   350.6297    1401
165   350.6297    1779
75    350.6297    1794
139   350.6297     768
110   350.6297    2226
83    350.6297     850

mean squared error: 2220285.2


###################################################################
---DEEP-NEURAL--------------Model nÂ° 50 ----------------------------
###################################################################

16 sigmoid 64 selu 8 softmax <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.05

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
47   1310.010986     490
192  1310.010986     133
187  1310.010986    2175
211  1310.010986    1423
48   1310.010986    1473
34   1310.010986     368
179  1310.010986     639

mean squared error: 1124916.9


###################################################################
---DEEP-NEURAL--------------Model nÂ° 51 ----------------------------
###################################################################

64 relu 16 elu 16 exponential <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.001

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
202   416.423859     237
51    133.099564    1027
99   1106.971191     721
122    44.967228     807
204    80.161346     603
243  1275.222534     871
12    151.091293    1749

mean squared error: 4252362.5


###################################################################
---DEEP-NEURAL--------------Model nÂ° 52 ----------------------------
###################################################################

2 exponential 2 relu 2 exponential <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.01

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
62   1378.400269    1824
71   1378.400269     262
193  1378.400269    1435
232  1378.400269    1234
93   1378.400269     561
35   1378.400269    3019
58   1378.400269     422

mean squared error: 1117122.2


###################################################################
---DEEP-NEURAL--------------Model nÂ° 53 ----------------------------
###################################################################

16 relu 16 elu 4 relu <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.001

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
76    827.816650     113
106  1554.292969    1647
162  1939.838623    1236
182  1415.491211     691
268   639.957581     590
34    826.214111     368
10    621.385071     499

mean squared error: 483270.6


###################################################################
---DEEP-NEURAL--------------Model nÂ° 54 ----------------------------
###################################################################

8 elu 64 relu 2 softplus <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.001

regresion positiva - activaciÃ³n relu en la Ãºltima capa

     predicted  actual
180        0.0    2806
209        0.0    1999
247        0.0     500
78         0.0    2874
33         0.0    1957
226        0.0    1959
38         0.0     603

mean squared error: 3079942.8


###################################################################
---DEEP-NEURAL--------------Model nÂ° 55 ----------------------------
###################################################################

16 elu 16 softplus 32 softplus <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.001

regresion positiva - activaciÃ³n relu en la Ãºltima capa

     predicted  actual
263        0.0    1223
120        0.0     218
213        0.0    1485
32         0.0    2758
265        0.0     490
234        0.0     465
112        0.0     426

mean squared error: 3079942.8


###################################################################
---DEEP-NEURAL--------------Model nÂ° 56 ----------------------------
###################################################################

64 elu 2 softsign 4 selu <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.1

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
149   707.117249     678
138   706.087097     176
67   1734.046265    2708
158  1733.453125    1753
211  1730.704346    1423
82   1732.557129     903
76    707.708496     113

mean squared error: 796873.4


###################################################################
---DEEP-NEURAL--------------Model nÂ° 57 ----------------------------
###################################################################

8 softsign 32 selu 32 exponential <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.005

regresion positiva - activaciÃ³n relu en la Ãºltima capa

      predicted  actual
54   969.073730     389
140  763.572998     712
195  731.425720     240
170  599.320679    1101
105  564.770508     462
87   971.760559    1639
47   966.879944     490

mean squared error: 493502.22


###################################################################
---DEEP-NEURAL--------------Model nÂ° 58 ----------------------------
###################################################################

4 sigmoid 16 elu 8 softmax <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.005

regresion positiva - activaciÃ³n relu en la Ãºltima capa

     predicted  actual
53         0.0    1928
126        0.0    1507
122        0.0     807
181        0.0     206
134        0.0    1522
55         0.0     404
158        0.0    1753

mean squared error: 3079942.8


###################################################################
---DEEP-NEURAL--------------Model nÂ° 59 ----------------------------
###################################################################

64 elu 32 selu 64 selu <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.005

regresion positiva - activaciÃ³n relu en la Ãºltima capa

       predicted  actual
105   686.467896     462
103  2464.113770    3269
32   2004.883057    2758
266  2166.637207    1449
48   1489.291992    1473
39   1563.218506     944
69    498.962311     332

mean squared error: 498070.6

,model,mse/accuracy,type,grade
0,DecisionTreeRegressor(max_depth=1),1.457129e+06,tree,0
1,DecisionTreeRegressor(max_depth=2),1.631628e+06,tree,0
2,DecisionTreeRegressor(max_depth=3),1.645930e+06,tree,0
3,DecisionTreeRegressor(max_depth=4),1.686347e+06,tree,0
4,DecisionTreeRegressor(max_depth=5),1.685993e+06,tree,0
5,DecisionTreeRegressor(max_depth=6),1.743059e+06,tree,0
6,DecisionTreeRegressor(max_depth=7),1.767084e+06,tree,0
7,DecisionTreeRegressor(max_depth=8),1.789308e+06,tree,0
8,DecisionTreeRegressor(max_depth=9),1.807872e+06,tree,0
9,DecisionTreeRegressor(max_depth=10),1.804136e+06,tree,0
10,DecisionTreeRegressor(max_depth=11),1.844629e+06,tree,0
11,DecisionTreeRegressor(max_depth=12),1.931043e+06,tree,0
12,DecisionTreeRegressor(max_depth=13),1.909204e+06,tree,0
13,DecisionTreeRegressor(max_depth=14),1.912846e+06,tree,0
14,DecisionTreeRegressor(max_depth=15),1.965726e+06,tree,0
15,DecisionTreeRegressor(max_depth=1),1.457129e+06,forest,0
16,DecisionTreeRegressor(max_depth=2),1.631628e+06,forest,0
17,DecisionTreeRegressor(max_depth=3),1.645930e+06,forest,0
18,DecisionTreeRegressor(max_depth=4),1.686347e+06,forest,0
19,DecisionTreeRegressor(max_depth=5),1.685993e+06,forest,0
20,DecisionTreeRegressor(max_depth=6),1.749027e+06,forest,0
21,DecisionTreeRegressor(max_depth=7),1.767420e+06,forest,0
22,DecisionTreeRegressor(max_depth=8),1.837288e+06,forest,0
23,DecisionTreeRegressor(max_depth=9),1.881635e+06,forest,0
24,DecisionTreeRegressor(max_depth=10),1.914322e+06,forest,0
25,DecisionTreeRegressor(max_depth=11),1.880074e+06,forest,0
26,DecisionTreeRegressor(max_depth=12),1.849731e+06,forest,0
27,DecisionTreeRegressor(max_depth=13),1.937941e+06,forest,0
28,DecisionTreeRegressor(max_depth=14),1.875292e+06,forest,0
29,DecisionTreeRegressor(max_depth=15),1.928528e+06,forest,0
30,LinearRegression(),4.799930e+05,poly,1
31,LinearRegression(),3.350908e+29,poly,2
32,LinearRegression(),7.358412e+12,poly,3
33,LinearRegression(),1.051583e+19,poly,4
34,LinearRegression(),1.071835e+21,poly,5
35,<tensorflow.python.keras.engine.sequential.Seq...,5.822284e+05,neural,0
36,<tensorflow.python.keras.engine.sequential.Seq...,1.121059e+06,neural,0
37,<tensorflow.python.keras.engine.sequential.Seq...,NaN,neural,0
38,<tensorflow.python.keras.engine.sequential.Seq...,3.079943e+06,neural,0
39,<tensorflow.python.keras.engine.sequential.Seq...,7.908273e+05,neural,0
40,<tensorflow.python.keras.engine.sequential.Seq...,7.810307e+05,neural,0
41,<tensorflow.python.keras.engine.sequential.Seq...,3.079943e+06,neural,0
42,<tensorflow.python.keras.engine.sequential.Seq...,3.079943e+06,neural,0
43,<tensorflow.python.keras.engine.sequential.Seq...,3.079943e+06,neural,0
44,<tensorflow.python.keras.engine.sequential.Seq...,3.079943e+06,neural,0
45,<tensorflow.python.keras.engine.sequential.Seq...,8.750702e+05,neural,0
46,<tensorflow.python.keras.engine.sequential.Seq...,4.930786e+05,neural,0
47,<tensorflow.python.keras.engine.sequential.Seq...,3.079943e+06,neural,0
48,<tensorflow.python.keras.engine.sequential.Seq...,1.027499e+06,neural,0
49,<tensorflow.python.keras.engine.sequential.Seq...,2.220285e+06,neural,0
50,<tensorflow.python.keras.engine.sequential.Seq...,1.124917e+06,neural,0
51,<tensorflow.python.keras.engine.sequential.Seq...,4.252362e+06,neural,0
52,<tensorflow.python.keras.engine.sequential.Seq...,1.117122e+06,neural,0
53,<tensorflow.python.keras.engine.sequential.Seq...,4.832706e+05,neural,0
54,<tensorflow.python.keras.engine.sequential.Seq...,3.079943e+06,neural,0
55,<tensorflow.python.keras.engine.sequential.Seq...,3.079943e+06,neural,0
56,<tensorflow.python.keras.engine.sequential.Seq...,7.968734e+05,neural,0
57,<tensorflow.python.keras.engine.sequential.Seq...,4.935022e+05,neural,0
58,<tensorflow.python.keras.engine.sequential.Seq...,3.079943e+06,neural,0
59,<tensorflow.python.keras.engine.sequential.Seq...,4.980706e+05,neural,0

[LinearRegression(), 479993.0, 'poly', 1]
modelo nÂ° 30
el mejor modelo es el que minimiza el Mean Squared Error

{'modelo': LinearRegression(), 'puntaje': 479993.0, 'tipo': 'poly', 'grado': 1}

       predicted  actual
264  1487.735003     876
129  2408.735003    2484
179   768.735003     639
122   506.735003     807
152  1338.735003     916
37   1803.735003    1734
39   1426.735003     944

MSE: 479993.0

guardar el mejor modelo para usarlo en el futuro? no

In [178]:
modelosTodos[15][0]

[DecisionTreeRegressor(max_depth=1), 1457128.75, 'forest', 0]

In [175]:
from sklearn.metrics import mean_absolute_error

In [174]:
mean_absolute_error(outputTest,mejorModelo["modelo"].predict(PolynomialFeatures(degree=1).fit_transform(inputTest)))

483.1058522073261

In [176]:
def MAPE(Y_actual,Y_Predicted):
    mape = np.mean(np.abs((Y_actual - Y_Predicted)/Y_actual))*100
    return mape

In [177]:
MAPE(outputTest,mejorModelo["modelo"].predict(PolynomialFeatures(degree=1).fit_transform(inputTest)))

likes    60.332758
dtype: float64

In [69]:
from joblib import dump, load

In [135]:
dump(modelosTodos[27][0], 'Catriel_MejorModelo_Likes_decisionTree.joblib')

['Catriel_MejorModelo_Likes_decisionTree.joblib']

In [136]:
modelosTodos[27]

[RandomForestClassifier(max_depth=13), 0.6206896551724138, 'forest', 0]

In [137]:
pandas_puntajeTipoGrado=pd.DataFrame([modelosTodos[27][1], modelosTodos[27][2], modelosTodos[27][3]], columns=["Puntaje"])
pandas_puntajeTipoGrado.to_csv("Catriel_MejorModelo_Likes_info.csv")

In [138]:
pandas_ind = pd.DataFrame(ind)

In [139]:
pandas_ind.to_csv("Catriel_MejorModelo_Likes_variablesInd.csv")

In [153]:
mejorModelo={}
mejorModelo["puntaje"] = pd.read_csv("Catriel_MejorModelo_Likes_info.csv")["Puntaje"][0]
mejorModelo["tipo"] = pd.read_csv("Catriel_MejorModelo_Likes_info.csv")["Puntaje"][1]
mejorModelo["grado"] = pd.read_csv("Catriel_MejorModelo_Likes_info.csv")["Puntaje"][2]
mejorModelo["modelo"] = load('Catriel_MejorModelo_Likes_decisionTree.joblib')

In [141]:
scaler

StandardScaler()

In [142]:
dump(scaler, open('Catriel_MejorModelo_Likes_scaler.pkl', 'wb'))

In [64]:
from pickle import load

In [87]:
scaler = load(open('Catriel_MejorModelo_scaler.pkl', 'rb'))

In [143]:
ind

['agno',
 'mes',
 'dia',
 'hora',
 'len_caption',
 'es_video',
 'tiene_audio',
 'height',
 'width',
 'tag_users',
 'cantidad_hash',
 'ubicacion',
 'dia_semana - domingo',
 'dia_semana - jueves',
 'dia_semana - lunes',
 'dia_semana - martes',
 'dia_semana - miercoles',
 'dia_semana - sabado',
 'dia_semana - viernes']

In [156]:
confusion(mejorModelo["modelo"],int(mejorModelo["grado"]))

[[77 54]
 [45 85]]
acierta 0.59 de los negativos
acierta 0.65 de los positivos
0.63 de los predichos como negativos estan okey
0.61 de los predichos como positivos estan okey

In [133]:
modelosTodos[27]

[RandomForestClassifier(max_depth=13), 0.6206896551724138, 'forest', 0]

In [108]:
mejorModelo["modelo"].save('Catriel_MejorModelo_Likes_Deep.h5')

In [161]:
mejorModelo

{'modelo': LinearRegression(), 'puntaje': 479993.0, 'tipo': 'poly', 'grado': 1}

In [151]:
modelosTodos[27]

[RandomForestClassifier(max_depth=13), 0.6206896551724138, 'forest', 0]

## Pandora

In [69]:
for i in range(48,101,1):
    print("-----------------------------------------")
    print("navaja:",i/100)
    print(accuPandora(i/100))

-----------------------------------------
navaja: 0.48
[DecisionTreeClassifier(max_depth=1), 0.5104712041884817, 'tree', 0]
[DecisionTreeClassifier(max_depth=2), 0.5, 'tree', 0]
[DecisionTreeClassifier(max_depth=3), 0.5, 'tree', 0]
[DecisionTreeClassifier(max_depth=4), 0.5026178010471204, 'tree', 0]
[DecisionTreeClassifier(max_depth=6), 0.5104712041884817, 'tree', 0]
[DecisionTreeClassifier(max_depth=7), 0.5314136125654451, 'tree', 0]
[DecisionTreeClassifier(max_depth=8), 0.5287958115183246, 'tree', 0]
[DecisionTreeClassifier(max_depth=9), 0.5078534031413613, 'tree', 0]
[DecisionTreeClassifier(max_depth=10), 0.5392670157068062, 'tree', 0]
[DecisionTreeClassifier(max_depth=11), 0.5445026178010471, 'tree', 0]
[DecisionTreeClassifier(max_depth=12), 0.5314136125654451, 'tree', 0]
[RandomForestClassifier(max_depth=1), 0.5157068062827225, 'forest', 0]
[RandomForestClassifier(max_depth=2), 0.5418848167539267, 'forest', 0]
[RandomForestClassifier(max_depth=3), 0.5130890052356021, 'forest', 0]
[RandomForestClassifier(max_depth=5), 0.4973821989528796, 'forest', 0]
[RandomForestClassifier(max_depth=6), 0.5, 'forest', 0]
[RandomForestClassifier(max_depth=7), 0.4869109947643979, 'forest', 0]
[RandomForestClassifier(max_depth=8), 0.5261780104712042, 'forest', 0]
[RandomForestClassifier(max_depth=9), 0.4816753926701571, 'forest', 0]
[RandomForestClassifier(max_depth=10), 0.5314136125654451, 'forest', 0]
[RandomForestClassifier(max_depth=11), 0.5157068062827225, 'forest', 0]
[RandomForestClassifier(max_depth=12), 0.5130890052356021, 'forest', 0]
[LinearRegression(), 0.4895287958115183, 'poly', 1]
[LinearRegression(), 0.5078534031413613, 'poly', 2]
[LinearRegression(), 0.5078534031413613, 'poly', 3]
[LinearRegression(), 0.4895287958115183, 'poly', 4]
[LinearRegression(), 0.5130890052356021, 'poly', 5]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C82BCFB400>, 0.5261780104712042, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C841D795E0>, 0.5287958115183246, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C841D79310>, 0.4973821989528796, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C847081250>, 0.49476439790575916, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C8485E4040>, 0.5340314136125655, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C849C3B4F0>, 0.4973821989528796, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84A14AFD0>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84B5931F0>, 0.5157068062827225, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84BA9B8B0>, 0.4973821989528796, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84CF85B80>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84E5EED00>, 0.4973821989528796, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84CEA8700>, 0.49214659685863876, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84B8CBBB0>, 0.4895287958115183, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84FC90B50>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C851362730>, 0.49476439790575916, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C8528CD640>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C85447BFA0>, 0.5261780104712042, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C855A79FA0>, 0.5287958115183246, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C855E0A3A0>, 0.4816753926701571, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C85882D280>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C858D19970>, 0.4973821989528796, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C85A3BCCD0>, 0.5078534031413613, 'neural', 0]

<ipython-input-66-d731a1e8c9a3>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pandorasOutput[i][j]=float(k)

[0.48, 0.5104712041884817]
-----------------------------------------
navaja: 0.49
[DecisionTreeClassifier(max_depth=1), 0.5104712041884817, 'tree', 0]
[DecisionTreeClassifier(max_depth=2), 0.5, 'tree', 0]
[DecisionTreeClassifier(max_depth=3), 0.5, 'tree', 0]
[DecisionTreeClassifier(max_depth=4), 0.5026178010471204, 'tree', 0]
[DecisionTreeClassifier(max_depth=6), 0.5104712041884817, 'tree', 0]
[DecisionTreeClassifier(max_depth=7), 0.5314136125654451, 'tree', 0]
[DecisionTreeClassifier(max_depth=8), 0.5287958115183246, 'tree', 0]
[DecisionTreeClassifier(max_depth=9), 0.5078534031413613, 'tree', 0]
[DecisionTreeClassifier(max_depth=10), 0.5392670157068062, 'tree', 0]
[DecisionTreeClassifier(max_depth=11), 0.5445026178010471, 'tree', 0]
[DecisionTreeClassifier(max_depth=12), 0.5314136125654451, 'tree', 0]
[RandomForestClassifier(max_depth=1), 0.5157068062827225, 'forest', 0]
[RandomForestClassifier(max_depth=2), 0.5418848167539267, 'forest', 0]
[RandomForestClassifier(max_depth=3), 0.5130890052356021, 'forest', 0]
[RandomForestClassifier(max_depth=5), 0.4973821989528796, 'forest', 0]
[RandomForestClassifier(max_depth=6), 0.5, 'forest', 0]
[RandomForestClassifier(max_depth=8), 0.5261780104712042, 'forest', 0]
[RandomForestClassifier(max_depth=10), 0.5314136125654451, 'forest', 0]
[RandomForestClassifier(max_depth=11), 0.5157068062827225, 'forest', 0]
[RandomForestClassifier(max_depth=12), 0.5130890052356021, 'forest', 0]
[LinearRegression(), 0.5078534031413613, 'poly', 2]
[LinearRegression(), 0.5078534031413613, 'poly', 3]
[LinearRegression(), 0.5130890052356021, 'poly', 5]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C82BCFB400>, 0.5261780104712042, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C841D795E0>, 0.5287958115183246, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C841D79310>, 0.4973821989528796, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C847081250>, 0.49476439790575916, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C8485E4040>, 0.5340314136125655, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C849C3B4F0>, 0.4973821989528796, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84A14AFD0>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84B5931F0>, 0.5157068062827225, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84BA9B8B0>, 0.4973821989528796, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84CF85B80>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84E5EED00>, 0.4973821989528796, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84CEA8700>, 0.49214659685863876, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84FC90B50>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C851362730>, 0.49476439790575916, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C8528CD640>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C85447BFA0>, 0.5261780104712042, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C855A79FA0>, 0.5287958115183246, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C85882D280>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C858D19970>, 0.4973821989528796, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C85A3BCCD0>, 0.5078534031413613, 'neural', 0]

<ipython-input-66-d731a1e8c9a3>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pandorasOutput[i][j]=float(k)

[0.49, 0.5497382198952879]
-----------------------------------------
navaja: 0.5
[DecisionTreeClassifier(max_depth=1), 0.5104712041884817, 'tree', 0]
[DecisionTreeClassifier(max_depth=4), 0.5026178010471204, 'tree', 0]
[DecisionTreeClassifier(max_depth=6), 0.5104712041884817, 'tree', 0]
[DecisionTreeClassifier(max_depth=7), 0.5314136125654451, 'tree', 0]
[DecisionTreeClassifier(max_depth=8), 0.5287958115183246, 'tree', 0]
[DecisionTreeClassifier(max_depth=9), 0.5078534031413613, 'tree', 0]
[DecisionTreeClassifier(max_depth=10), 0.5392670157068062, 'tree', 0]
[DecisionTreeClassifier(max_depth=11), 0.5445026178010471, 'tree', 0]
[DecisionTreeClassifier(max_depth=12), 0.5314136125654451, 'tree', 0]
[RandomForestClassifier(max_depth=1), 0.5157068062827225, 'forest', 0]
[RandomForestClassifier(max_depth=2), 0.5418848167539267, 'forest', 0]
[RandomForestClassifier(max_depth=3), 0.5130890052356021, 'forest', 0]
[RandomForestClassifier(max_depth=8), 0.5261780104712042, 'forest', 0]
[RandomForestClassifier(max_depth=10), 0.5314136125654451, 'forest', 0]
[RandomForestClassifier(max_depth=11), 0.5157068062827225, 'forest', 0]
[RandomForestClassifier(max_depth=12), 0.5130890052356021, 'forest', 0]
[LinearRegression(), 0.5078534031413613, 'poly', 2]
[LinearRegression(), 0.5078534031413613, 'poly', 3]
[LinearRegression(), 0.5130890052356021, 'poly', 5]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C82BCFB400>, 0.5261780104712042, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C841D795E0>, 0.5287958115183246, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C8485E4040>, 0.5340314136125655, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84A14AFD0>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84B5931F0>, 0.5157068062827225, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84CF85B80>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84FC90B50>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C8528CD640>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C85447BFA0>, 0.5261780104712042, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C855A79FA0>, 0.5287958115183246, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C85882D280>, 0.5026178010471204, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C85A3BCCD0>, 0.5078534031413613, 'neural', 0]

<ipython-input-66-d731a1e8c9a3>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pandorasOutput[i][j]=float(k)

[0.5, 0.5602094240837696]
-----------------------------------------
navaja: 0.51
[DecisionTreeClassifier(max_depth=1), 0.5104712041884817, 'tree', 0]
[DecisionTreeClassifier(max_depth=6), 0.5104712041884817, 'tree', 0]
[DecisionTreeClassifier(max_depth=7), 0.5314136125654451, 'tree', 0]
[DecisionTreeClassifier(max_depth=8), 0.5287958115183246, 'tree', 0]
[DecisionTreeClassifier(max_depth=10), 0.5392670157068062, 'tree', 0]
[DecisionTreeClassifier(max_depth=11), 0.5445026178010471, 'tree', 0]
[DecisionTreeClassifier(max_depth=12), 0.5314136125654451, 'tree', 0]
[RandomForestClassifier(max_depth=1), 0.5157068062827225, 'forest', 0]
[RandomForestClassifier(max_depth=2), 0.5418848167539267, 'forest', 0]
[RandomForestClassifier(max_depth=3), 0.5130890052356021, 'forest', 0]
[RandomForestClassifier(max_depth=8), 0.5261780104712042, 'forest', 0]
[RandomForestClassifier(max_depth=10), 0.5314136125654451, 'forest', 0]
[RandomForestClassifier(max_depth=11), 0.5157068062827225, 'forest', 0]
[RandomForestClassifier(max_depth=12), 0.5130890052356021, 'forest', 0]
[LinearRegression(), 0.5130890052356021, 'poly', 5]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C82BCFB400>, 0.5261780104712042, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C841D795E0>, 0.5287958115183246, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C8485E4040>, 0.5340314136125655, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C84B5931F0>, 0.5157068062827225, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C85447BFA0>, 0.5261780104712042, 'neural', 0]
[<tensorflow.python.keras.engine.sequential.Sequential object at 0x000001C855A79FA0>, 0.5287958115183246, 'neural', 0]

<ipython-input-66-d731a1e8c9a3>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pandorasOutput[i][j]=float(k)

KeyboardInterrupt:

In [129]:
navaja=float(input("a partir de que accuracy/mse quiere considerar un modelo como bueno? "))

a partir de que accuracy/mse quiere considerar un modelo como bueno? 10

In [142]:
accuPandora(navaja)

In [141]:
def accuPandora(navaja):
    global raza, inputTest
    aa=0
    pandorasOutput={}
    for i in modelosTodos:
        if not(math.isnan(i[1])):
            if ((raza == "regresion arbitraria") or (raza == "regresion porcentual") or (raza == "regresion positiva")) and (i[1] < navaja):
                pandorasOutput[aa] = list(pando(i[0],i[3],inputTest))
                print(i)
            elif (raza == "clasificacion binaria") and (i[1] > navaja):
                pandorasOutput[aa] = list(pando(i[0],i[3],inputTest))
                print(i)
        aa=aa+1
    pandorasOutput=pd.DataFrame.from_dict(pandorasOutput)
    for i in pandorasOutput:
        for j, k in enumerate(pandorasOutput[i]):
            pandorasOutput[i][j]=float(k)
    pandoraResultados=[]
    for i in range(len(pandorasOutput)):
        pandoraResultados.append(sum(pandorasOutput.loc[i])/len(pandorasOutput.loc[i]))
    if len(pandoraResultados) > 0:
        return [navaja, accuracy_score(outputTest.reset_index(drop=True),((pd.DataFrame(pandoraResultados)>0.5)*1))]

In [121]:
pandoraResultados=[]
for i in range(len(pandorasOutput)):
    pandoraResultados.append(sum(pandorasOutput.loc[i])/len(pandorasOutput.loc[i]))
pandoraResultados

NameError: name 'pandorasOutput' is not defined

In [40]:
accuracy_score(outputTest.reset_index(drop=True),((pd.DataFrame(pandoraResultados)>0.5)*1))

0.5523560209424084

In [105]:
MeanSquaredError()(outputTest.reset_index(drop=True),pd.DataFrame(pandoraResultados)).numpy()

1880.3756103515625

## Borrar Modelos o Verlos

In [145]:
modelosTodos=[]

In [42]:
pd.set_option('display.max_rows', pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"]).shape[0]+1)
pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])

,model,mse/accuracy,type,grade
0,DecisionTreeRegressor(max_depth=1),2.144319e+03,tree,0
1,DecisionTreeRegressor(max_depth=2),2.205400e+03,tree,0
2,DecisionTreeRegressor(max_depth=3),2.256011e+03,tree,0
3,DecisionTreeRegressor(max_depth=4),2.322245e+03,tree,0
4,DecisionTreeRegressor(max_depth=5),2.393752e+03,tree,0
5,DecisionTreeRegressor(max_depth=6),2.472747e+03,tree,0
6,DecisionTreeRegressor(max_depth=7),2.581198e+03,tree,0
7,DecisionTreeRegressor(max_depth=8),2.786563e+03,tree,0
8,DecisionTreeRegressor(max_depth=9),3.064584e+03,tree,0
9,DecisionTreeRegressor(max_depth=10),3.260248e+03,tree,0
10,DecisionTreeRegressor(max_depth=11),3.552446e+03,tree,0
11,DecisionTreeRegressor(max_depth=12),3.686252e+03,tree,0
12,DecisionTreeRegressor(max_depth=13),3.778695e+03,tree,0
13,DecisionTreeRegressor(max_depth=14),3.946260e+03,tree,0
14,DecisionTreeRegressor(max_depth=15),3.961162e+03,tree,0
15,DecisionTreeRegressor(max_depth=1),2.144319e+03,forest,0
16,DecisionTreeRegressor(max_depth=2),2.205400e+03,forest,0
17,DecisionTreeRegressor(max_depth=3),2.256011e+03,forest,0
18,DecisionTreeRegressor(max_depth=4),2.322245e+03,forest,0
19,DecisionTreeRegressor(max_depth=5),2.393752e+03,forest,0
20,DecisionTreeRegressor(max_depth=6),2.472747e+03,forest,0
21,DecisionTreeRegressor(max_depth=7),2.565011e+03,forest,0
22,DecisionTreeRegressor(max_depth=8),2.761369e+03,forest,0
23,DecisionTreeRegressor(max_depth=9),3.035154e+03,forest,0
24,DecisionTreeRegressor(max_depth=10),3.291343e+03,forest,0
25,DecisionTreeRegressor(max_depth=11),3.523238e+03,forest,0
26,DecisionTreeRegressor(max_depth=12),3.639572e+03,forest,0
27,DecisionTreeRegressor(max_depth=13),3.814217e+03,forest,0
28,DecisionTreeRegressor(max_depth=14),3.879688e+03,forest,0
29,DecisionTreeRegressor(max_depth=15),3.991054e+03,forest,0
30,<tensorflow.python.keras.engine.sequential.Seq...,2.105648e+03,neural,0
31,<tensorflow.python.keras.engine.sequential.Seq...,2.184563e+03,neural,0
32,<tensorflow.python.keras.engine.sequential.Seq...,1.323158e+04,neural,0
33,<tensorflow.python.keras.engine.sequential.Seq...,1.323158e+04,neural,0
34,<tensorflow.python.keras.engine.sequential.Seq...,2.004446e+03,neural,0
35,<tensorflow.python.keras.engine.sequential.Seq...,1.323158e+04,neural,0
36,<tensorflow.python.keras.engine.sequential.Seq...,1.323158e+04,neural,0
37,<tensorflow.python.keras.engine.sequential.Seq...,1.851784e+03,neural,0
38,<tensorflow.python.keras.engine.sequential.Seq...,2.290098e+03,neural,0
39,<tensorflow.python.keras.engine.sequential.Seq...,1.892460e+03,neural,0
40,<tensorflow.python.keras.engine.sequential.Seq...,1.323158e+04,neural,0
41,<tensorflow.python.keras.engine.sequential.Seq...,NaN,neural,0
42,<tensorflow.python.keras.engine.sequential.Seq...,2.153366e+03,neural,0
43,<tensorflow.python.keras.engine.sequential.Seq...,2.088115e+03,neural,0
44,<tensorflow.python.keras.engine.sequential.Seq...,1.323158e+04,neural,0
45,<tensorflow.python.keras.engine.sequential.Seq...,2.048660e+03,neural,0
46,<tensorflow.python.keras.engine.sequential.Seq...,NaN,neural,0
47,<tensorflow.python.keras.engine.sequential.Seq...,2.137448e+03,neural,0
48,<tensorflow.python.keras.engine.sequential.Seq...,1.323158e+04,neural,0
49,<tensorflow.python.keras.engine.sequential.Seq...,1.898923e+03,neural,0
50,<tensorflow.python.keras.engine.sequential.Seq...,1.323158e+04,neural,0
51,<tensorflow.python.keras.engine.sequential.Seq...,2.037602e+03,neural,0
52,<tensorflow.python.keras.engine.sequential.Seq...,1.865076e+03,neural,0
53,<tensorflow.python.keras.engine.sequential.Seq...,1.323158e+04,neural,0
54,<tensorflow.python.keras.engine.sequential.Seq...,1.889679e+03,neural,0
55,LinearRegression(),1.825157e+03,poly,1
56,LinearRegression(),9.092348e+17,poly,2
57,LinearRegression(),8.624346e+15,poly,3
58,LinearRegression(),1.825157e+03,poly,1
59,LinearRegression(),9.092348e+17,poly,2
60,LinearRegression(),8.624346e+15,poly,3
61,LinearRegression(),3.895660e+12,poly,4
62,LinearRegression(),1.825157e+03,poly,1
63,LinearRegression(),9.092348e+17,poly,2
64,LinearRegression(),8.624346e+15,poly,3
65,LinearRegression(),3.895660e+12,poly,4
66,LinearRegression(),3.602124e+06,poly,5

## Corre Tree

In [38]:
for i in range(1,min(len(ind),15)+1):
    print("")
    print("###################################################################")
    print("----------------------------Model nÂ°", (len(modelosTodos)), "----------------------------")
    print("###################################################################")
    modelosTodos.append(runCTree(i))
    print("")

###################################################################
----------------------------Model nÂ° 24 ----------------------------
###################################################################
accuracy score: 0.5148

,pred-gender - Female,pred-gender - Male,pred-gender - Other,pred-ever_married - No,pred-ever_married - Yes,res-gender - Female,res-gender - Male,res-gender - Other,res-ever_married - No,res-ever_married - Yes,act-gender - Female,act-gender - Male,act-gender - Other,act-ever_married - No,act-ever_married - Yes
420,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
35,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
1019,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
620,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
491,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
867,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
1073,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1

raza = multiple label


###################################################################
----------------------------Model nÂ° 25 ----------------------------
###################################################################
accuracy score: 0.5148

,pred-gender - Female,pred-gender - Male,pred-gender - Other,pred-ever_married - No,pred-ever_married - Yes,res-gender - Female,res-gender - Male,res-gender - Other,res-ever_married - No,res-ever_married - Yes,act-gender - Female,act-gender - Male,act-gender - Other,act-ever_married - No,act-ever_married - Yes
1071,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
1610,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
1375,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
1356,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
697,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
1420,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
1575,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1

raza = multiple label


###################################################################
----------------------------Model nÂ° 26 ----------------------------
###################################################################
accuracy score: 0.5148

,pred-gender - Female,pred-gender - Male,pred-gender - Other,pred-ever_married - No,pred-ever_married - Yes,res-gender - Female,res-gender - Male,res-gender - Other,res-ever_married - No,res-ever_married - Yes,act-gender - Female,act-gender - Male,act-gender - Other,act-ever_married - No,act-ever_married - Yes
530,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
218,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
420,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
464,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
214,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
107,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
662,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1

raza = multiple label


###################################################################
----------------------------Model nÂ° 27 ----------------------------
###################################################################
accuracy score: 0.5253

,pred-gender - Female,pred-gender - Male,pred-gender - Other,pred-ever_married - No,pred-ever_married - Yes,res-gender - Female,res-gender - Male,res-gender - Other,res-ever_married - No,res-ever_married - Yes,act-gender - Female,act-gender - Male,act-gender - Other,act-ever_married - No,act-ever_married - Yes
1365,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
1424,1,0,0,0,1,1,0,0,0,1,1,0,0,1,0
1445,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
1246,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
1389,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0
1529,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0
248,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1

raza = multiple label


###################################################################
----------------------------Model nÂ° 28 ----------------------------
###################################################################
accuracy score: 0.5148

,pred-gender - Female,pred-gender - Male,pred-gender - Other,pred-ever_married - No,pred-ever_married - Yes,res-gender - Female,res-gender - Male,res-gender - Other,res-ever_married - No,res-ever_married - Yes,act-gender - Female,act-gender - Male,act-gender - Other,act-ever_married - No,act-ever_married - Yes
1554,0,1,0,1,0,0,1,0,1,0,1,0,0,1,0
176,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
838,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
1169,1,0,0,0,1,1,0,0,0,1,1,0,0,1,0
1406,1,0,0,0,1,1,0,0,0,1,1,0,0,1,0
387,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
192,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1

raza = multiple label


###################################################################
----------------------------Model nÂ° 29 ----------------------------
###################################################################
accuracy score: 0.5185

,pred-gender - Female,pred-gender - Male,pred-gender - Other,pred-ever_married - No,pred-ever_married - Yes,res-gender - Female,res-gender - Male,res-gender - Other,res-ever_married - No,res-ever_married - Yes,act-gender - Female,act-gender - Male,act-gender - Other,act-ever_married - No,act-ever_married - Yes
616,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
225,1,0,0,0,1,1,0,0,0,1,1,0,0,1,0
741,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
168,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
139,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
1232,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
305,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1

raza = multiple label

## Corre Forest

In [39]:
for i in range(1,min(len(ind),15)+1):
    print("")
    print("###################################################################")
    print("----------------------------Model nÂ°", (len(modelosTodos)), "----------------------------")
    print("###################################################################")
    modelosTodos.append(runRForest(i))
    print("")

###################################################################
----------------------------Model nÂ° 30 ----------------------------
###################################################################
accuracy score: 0.4741

,pred-gender - Female,pred-gender - Male,pred-gender - Other,pred-ever_married - No,pred-ever_married - Yes,res-gender - Female,res-gender - Male,res-gender - Other,res-ever_married - No,res-ever_married - Yes,act-gender - Female,act-gender - Male,act-gender - Other,act-ever_married - No,act-ever_married - Yes
1176,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
382,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
1382,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0
1339,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
302,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
584,1,0,0,0,1,1,0,0,0,1,1,0,0,1,0
621,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1

raza = multiple label


###################################################################
----------------------------Model nÂ° 31 ----------------------------
###################################################################
accuracy score: 0.5154

,pred-gender - Female,pred-gender - Male,pred-gender - Other,pred-ever_married - No,pred-ever_married - Yes,res-gender - Female,res-gender - Male,res-gender - Other,res-ever_married - No,res-ever_married - Yes,act-gender - Female,act-gender - Male,act-gender - Other,act-ever_married - No,act-ever_married - Yes
1316,1,0,0,0,1,1,0,0,0,1,1,0,0,1,0
1565,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
1081,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0
125,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
622,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0
953,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
758,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0

raza = multiple label


###################################################################
----------------------------Model nÂ° 32 ----------------------------
###################################################################
accuracy score: 0.5154

,pred-gender - Female,pred-gender - Male,pred-gender - Other,pred-ever_married - No,pred-ever_married - Yes,res-gender - Female,res-gender - Male,res-gender - Other,res-ever_married - No,res-ever_married - Yes,act-gender - Female,act-gender - Male,act-gender - Other,act-ever_married - No,act-ever_married - Yes
415,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
1549,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
1412,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
1448,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
315,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
486,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0
840,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1

raza = multiple label


###################################################################
----------------------------Model nÂ° 33 ----------------------------
###################################################################
accuracy score: 0.5272

,pred-gender - Female,pred-gender - Male,pred-gender - Other,pred-ever_married - No,pred-ever_married - Yes,res-gender - Female,res-gender - Male,res-gender - Other,res-ever_married - No,res-ever_married - Yes,act-gender - Female,act-gender - Male,act-gender - Other,act-ever_married - No,act-ever_married - Yes
531,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
1218,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
225,1,0,0,0,1,1,0,0,0,1,1,0,0,1,0
1105,1,0,0,0,1,1,0,0,0,1,1,0,0,1,0
1521,1,0,0,0,1,1,0,0,0,1,0,1,0,1,0
1345,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0
903,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0

raza = multiple label


###################################################################
----------------------------Model nÂ° 34 ----------------------------
###################################################################
accuracy score: 0.5309

,pred-gender - Female,pred-gender - Male,pred-gender - Other,pred-ever_married - No,pred-ever_married - Yes,res-gender - Female,res-gender - Male,res-gender - Other,res-ever_married - No,res-ever_married - Yes,act-gender - Female,act-gender - Male,act-gender - Other,act-ever_married - No,act-ever_married - Yes
101,1,0,0,1,0,1,0,0,1,0,1,0,0,0,1
858,1,0,0,0,1,1,0,0,0,1,1,0,0,1,0
110,0,1,0,0,1,0,1,0,0,1,0,1,0,0,1
48,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
1416,0,1,0,1,0,0,1,0,1,0,0,1,0,1,0
662,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
408,1,0,0,0,1,1,0,0,0,1,0,1,0,1,0

raza = multiple label


###################################################################
----------------------------Model nÂ° 35 ----------------------------
###################################################################
accuracy score: 0.5259

,pred-gender - Female,pred-gender - Male,pred-gender - Other,pred-ever_married - No,pred-ever_married - Yes,res-gender - Female,res-gender - Male,res-gender - Other,res-ever_married - No,res-ever_married - Yes,act-gender - Female,act-gender - Male,act-gender - Other,act-ever_married - No,act-ever_married - Yes
928,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0
371,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
568,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
671,1,0,0,0,1,1,0,0,0,1,0,1,0,0,1
1257,1,0,0,1,0,1,0,0,1,0,1,0,0,1,0
1564,1,0,0,0,1,1,0,0,0,1,1,0,0,0,1
1458,1,0,0,0,1,1,0,0,0,1,1,0,0,1,0

raza = multiple label

## Corre Poly

In [40]:
for i in range(1,min(len(ind),5)+1):
    print("")
    print("###################################################################")
    print("----------------------------Model nÂ°", (len(modelosTodos)), "----------------------------")
    print("###################################################################")
    modelosTodos.append(runPoly(i))
    print("")

###################################################################
----------------------------Model nÂ° 36 ----------------------------
###################################################################
coefficient of determination: 19.68 %
raza = multiple label

TypeError: type NoneType doesn't define __round__ method

## Elije el Modelo mas Efectivo

In [35]:
if (raza == "regresion arbitraria") or (raza == "regresion porcentual") or (raza == "regresion positiva"):
    print(modelosTodos[list(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"]).index(min(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"]))])
    print("modelo nÂ°", list(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"]).index(min(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"])))
elif raza == "clasificacion binaria":
    print(modelosTodos[list(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"]).index(max(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"]))])
    print("modelo nÂ°", list(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"]).index(max(pd.DataFrame(modelosTodos, columns=["model","mse/accuracy","type","grade"])["mse/accuracy"])))
else:
    print("raza =". raza)

[LinearRegression(), 1825.1571044921875, 'poly', 1]
modelo nÂ° 56

## DiseÃ±ar Neural y correr todos

In [133]:
disenarModelos()
crearModelos()
print("hay un total de",len(models), "modelos")
print("")

print("-------------------------Modelos-------------------------")
if len(models)<10:
    for i in range(len(models)):
        print(models[i])
    print("")
else:
    for i in range(10):
        print(models[i])
    print("")

cuantas capas tendrÃ¡ el modelo? (1, 2 o 3) 2
cuantas celulas habrÃ¡ en la 1er capa? 4
activacion de la capa 1? (sigmoid,softmax,tanh,relu,softplus,softsign,selu,elu,exponential) sigmoid,softmax,tanh,relu
cuantas celulas habrÃ¡ en la 2da capa? 4
activacion de la capa 2? (sigmoid,softmax,tanh,relu,softplus,softsign,selu,elu,exponential) sigmoid,softmax,tanh,relu
learning rate? (0.1, 0.01, 0.001, etc) 0.1, 0.01, 0.001

hay un total de 48 modelos

-------------------------Modelos-------------------------
(4, 'sigmoid', 4, 'sigmoid', 0, 0, <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)
(4, 'sigmoid', 4, 'softmax', 0, 0, <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)
(4, 'sigmoid', 4, 'tanh', 0, 0, <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)
(4, 'sigmoid', 4, 'relu', 0, 0, <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)
(4, 'softmax', 4, 'sigmoid', 0, 0, <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)
(4, 'softmax', 4, 'softmax', 0, 0, <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)
(4, 'softmax', 4, 'tanh', 0, 0, <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)
(4, 'softmax', 4, 'relu', 0, 0, <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)
(4, 'tanh', 4, 'sigmoid', 0, 0, <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)
(4, 'tanh', 4, 'softmax', 0, 0, <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)

In [134]:
modelosTodos=[]
for i in range(len(models)):
    print("")
    print("###################################################################")
    print("----------------------------Model nÂ°", i, "----------------------------")
    print("###################################################################")
    modelosTodos.append(run(models[i][0],models[i][1],models[i][2],models[i][3],models[i][4],models[i][5],models[i][6],models[i][7]))
    print("")

###################################################################
----------------------------Model nÂ° 0 ----------------------------
###################################################################

4 sigmoid 4 sigmoid 0 0 <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.1

IndexError: tuple index out of range

In [145]:
len(modelosTodos)/3

24.0

In [146]:
adam=0
sgd=0
rms=0
for i, j in enumerate(modelosTodos):
    if i < 24:
        adam+=j[1]
    elif i < 48:
        sgd+=j[1]
    else:
        rms+=j[1]
adam=adam/24
sgd=sgd/24
rms=rms/24

In [147]:
print(adam)
print(sgd)
print(rms)

0.7210144927536232
0.7189009661835749
0.7155797101449274

## Mejor Modelo y Resultados (roto)

In [142]:
if (raza == "clasificacion binaria") or (raza == "multiple label") or (raza == "simple label"):
    mejorModelo={"modelo":0, "puntaje":0}
    print("el mejor modelo es el que aumenta la presiciÃ³n")
    print("")
    for i, j in modelosTodos:
        if j > mejorModelo["puntaje"]:
            mejorModelo["modelo"]=i
            mejorModelo["puntaje"]=j
else:
    mejorModelo={"modelo":999999999999999999, "puntaje":999999999999999999}
    print("el mejor modelo es el que minimiza el Mean Squared Error")
    print("")
    for i, j in modelosTodos:
        if j < mejorModelo["puntaje"]:
            mejorModelo["modelo"]=i
            mejorModelo["puntaje"]=j
print(mejorModelo)
print("")
print(mejorModelo["modelo"].summary())
print("")
if (raza == "clasificacion binaria") or (raza == "multiple label") or (raza == "simple label"):
    comparativo=pd.DataFrame(mejorModelo["modelo"].predict(inputTest), columns = dep)
    comparativo.columns = ["predicted"]
    comparativo["predicted"]=(mejorModelo["modelo"].predict(inputTest)>0.5)*1
    comparativo[dep]=outputTest.reset_index(drop=True, inplace=False)
    comparativo[dep]=comparativo[dep].fillna(0)
    comparativo[dep]=comparativo[dep].astype(int)
    display(comparativo.sample(7))
    print(confusion_matrix(comparativo[dep],comparativo["predicted"]))
    print("acierta", round(confusion_matrix(comparativo[dep],comparativo["predicted"])[0][0]/sum(confusion_matrix(comparativo[dep],comparativo["predicted"])[0]),2),"de los negativos")
    print("acierta", round(confusion_matrix(comparativo[dep],comparativo["predicted"])[1][1]/sum(confusion_matrix(comparativo[dep],comparativo["predicted"])[1]),2),"de los positivos")
    print(round(confusion_matrix(comparativo[dep],comparativo["predicted"])[0][0]/(confusion_matrix(comparativo[dep],comparativo["predicted"])[0][0]+confusion_matrix(comparativo[dep],comparativo["predicted"])[1][0]),2),"de los predichos como negativos estan okey")
    print(round(confusion_matrix(comparativo[dep],comparativo["predicted"])[1][1]/(confusion_matrix(comparativo[dep],comparativo["predicted"])[1][1]+confusion_matrix(comparativo[dep],comparativo["predicted"])[0][1]),2),"de los predichos como positivos estan okey")
    print("")
else:
    comparativo=pd.DataFrame(mejorModelo["modelo"].predict(inputTest), columns = dep)
    comparativo.columns = ["predicted"]
    comparativo["predicted"]=mejorModelo["modelo"].predict(inputTest)
    comparativo[dep]=outputTest.reset_index(drop=True, inplace=False)
    comparativo[dep]=comparativo[dep].fillna(0)
    comparativo[dep]=comparativo[dep].astype(int)
    display(comparativo.sample(7))
    mae=[]
    mse=[]
    for i in range(comparativo.shape[0]):
        ver=abs(comparativo["predicted"][i]-comparativo[comparativo.columns[1]][i])
        mae.append(ver)
        ver=ver*ver
        mse.append(ver)
    mae=sum(mae)/comparativo.shape[0]
    mse=sum(mse)/comparativo.shape[0]
    print("Mean Absolute Error:", round(mae,4))
    print("Mean Squared Error:", round(mse,4))
    print("")

el mejor modelo es el que aumenta la presiciÃ³n

ValueError: too many values to unpack (expected 2)

## Crea Neurals AutomÃ¡ticos y corre 25

In [124]:
layers=[1, 2, 3]
hidden1=[2, 4, 8, 16, 32, 64]
activation1=['sigmoid', 'softmax', 'tanh', 'relu', 'softplus', 'softsign', 'selu', 'elu', 'exponential']
hidden2=[2, 4, 8, 16, 32, 64]
activation2=['sigmoid', 'softmax', 'tanh', 'relu', 'softplus', 'softsign', 'selu', 'elu', 'exponential']
hidden3=[2, 4, 8, 16, 32, 64]
activation3=['sigmoid', 'softmax', 'tanh', 'relu', 'softplus', 'softsign', 'selu', 'elu', 'exponential']
optimizer=[Adam]
learningRate=[0.001, 0.005, 0.01, 0.05, 0.1, 0.5]
crearModelos()
print("hay un total de",len(models), "modelos")
print("")
random.shuffle(models)
print("-------------------------Modelos-------------------------")
for i in range(15):
    print(models[i])
print("")

hay un total de 962604 modelos

-------------------------Modelos-------------------------
(2, 'sigmoid', 2, 'softmax', 8, 'softsign', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.5)
(2, 'softmax', 32, 'tanh', 2, 'relu', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.5)
(2, 'sigmoid', 16, 'tanh', 32, 'sigmoid', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.005)
(4, 'softplus', 64, 'tanh', 2, 'sigmoid', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.001)
(2, 'exponential', 2, 'sigmoid', 32, 'softsign', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.05)
(4, 'elu', 16, 'sigmoid', 8, 'exponential', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.5)
(4, 'selu', 16, 'selu', 32, 'sigmoid', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.01)
(32, 'softplus', 64, 'softmax', 64, 'softsign', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.05)
(8, 'softplus', 2, 'sigmoid', 8, 'tanh', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.05)
(16, 'relu', 32, 'selu', 16, 'tanh', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.001)
(16, 'elu', 32, 'selu', 2, 'exponential', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.001)
(8, 'softmax', 2, 'softplus', 2, 'elu', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.5)
(4, 'softmax', 32, 'softmax', 64, 'exponential', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.1)
(64, 'selu', 32, 'softplus', 2, 'exponential', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.05)
(4, 'tanh', 2, 'softmax', 8, 'elu', <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'>, 0.01)

In [132]:
for i in range(25):
    print("")
    print("###################################################################")
    print("----------------------------Model nÂ°", (len(modelosTodos)), "----------------------------")
    print("###################################################################")
    modelosTodos.append(run(models[i][0],models[i][1],models[i][2],models[i][3],models[i][4],models[i][5],models[i][6],models[i][7]))
    print("")

###################################################################
----------------------------Model nÂ° 31 ----------------------------
###################################################################

2 sigmoid 2 softmax 8 softsign <class 'tensorflow.python.keras.optimizer_v2.adam.Adam'> 0.5

IndexError: tuple index out of range

In [168]:
from tensorflow import keras

In [169]:
inputTrain.to_csv("g_inputTrain.csv")
inputTest.to_csv("g_inputTest.csv")
outputTrain.to_csv("g_outputTrain.csv")
outputTest.to_csv("g_outputTest.csv")

In [170]:
mejorModelo["modelo"].save('g_mejorModelo.h5')

In [171]:
pandas_puntaje=pd.DataFrame([mejorModelo["puntaje"]], columns=["Puntaje"])
pandas_puntaje.to_csv("g_puntajeMejorModelo.csv")

In [118]:
mejorModelo={}
mejorModelo["puntaje"] = pd.read_csv("g_puntajeMejorModelo.csv")
mejorModelo["puntaje"] = mejorModelo["puntaje"]["Puntaje"][0]

In [121]:
mejorModelo["modelo"] = keras.models.load_model('g_mejorModelo.h5')

In [13]:
inputTrain=pd.read_csv("g_inputTrain.csv",index_col=0)
inputTest=pd.read_csv("g_inputTest.csv",index_col=0)
outputTrain=pd.read_csv("g_outputTrain.csv",index_col=0)
outputTest=pd.read_csv("g_outputTest.csv",index_col=0)

In [27]:
unos=0
ceros=0
for index, i in data.iterrows():
    if i["close2"] == 0:
        ceros+=1
        if ceros > minimo:
            data = data.drop([index], axis=0)
    else:
        unos+=1
        if unos > minimo:
            data = data.drop([index], axis=0)

In [30]:
variables=[]
for i in data:
    variables.append(i)
elegirVariables()
standarizarData()

puede definir variables independientes y dependientes entre las siguientes:
['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'high2', 'low2', 'close2']
high2 es una variable independiente
low2 es una variable independiente
close2 es una variable dependiente
Standarizar data? no
okey